$bold : NanumGothicBold;
$ebold : NanumGothicExBold;
$menu-selected : #ffc54a;

body {margin: 0px; cursor: default; }
div {display:block;vertical-align:top;}
body, div, p, input {font-family:NanumGothic;font-size:13px;color: #555555; }
img {border: 0px; }
p,h1,h2,h3,h4,h5 {margin: 0px; }
menu, ul {list-style: none; margin: 0px; padding: 0px; }
label {cursor: pointer; }
input, textarea {outline: none; resize: none; }
th, td {margin:0;padding:0; height: 40px; }
input.text {font-size:12px; margin: 3px 0px; padding: 0px 3px; border: solid 1px #DDDDDD; }
textarea.text {font-size: 12px; margin: 3px 0px; padding: 0px 3px; border: solid 1px #DDDDDD; }
a {text-decoration:none; cursor:pointer;color:#555;}

@mixin border-radius($radius) {
   -webkit-border-radius: $radius;
   -moz-border-radius: $radius;
   -ms-border-radius: $radius;
   border-radius: $radius;
}

@mixin opacity($val) {
   opacity:$val;
   filter:alpha(opacity=$val*100);
}

@mixin background-size($v1, $v2) {
   -webkit-background-size: $v1 $v2;
   -moz-background-size: $v1 $v2;
   -o-background-size: $v1 $v2;
   background-size: $v1 $v2;
}

@mixin inline-block {
   display:inline-block;
   *display:inline;
   *zoom:1;
}
@mixin linear-gradient($v1, $v2) {
   background: -webkit-linear-gradient($v1, $v2);
   background: -moz-linear-gradient($v1, $v2);
   background: -o-linear-gradient($v1, $v2);
   background: linear-gradient($v1, $v2);
   -pie-background: linear-gradient($v1, $v2);
   filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{$v1}', endColorstr='#{$v2}');
}

input::-ms-clear {
   display:none;
}
