@import 'base';
@import 'http://cdn.jsdelivr.net/qtip2/2.2.0/jquery.qtip.min.css';
#container { min-width:1050px; }
#content {
   position:relative;
   border-top:1px solid black;
   border-bottom:1px solid black;
}
.content, .ctt, .title, .input_cont, .btn_cont,
#joinLayer {
   position:relative;
}

.btn_cont, .input_cont {
   @include inline-block;
}
.btn_cont {
   @include opacity(0.97);
   cursor:pointer;
}
.btn_cont:hover {
   @include opacity(0.9);
}
.btn_cont:active {
   @include opacity(1.0);
}

.title {
   margin-bottom:15px;
}
.content{
   margin:0 auto;
}
.more {
   color:#999;
   font-family:$bold;
   cursor:pointer;
   position:absolute;
   font-size:12px;
}

hl {
   color:red;
   text-decoration:underline;
}

@mixin orange-btn($width) {
   width:$width;
   cursor:pointer;
   border:0;
   background-color:#ff9200;
   color:white;
   font-size:15px;
   text-align:center;
   padding:12px 0;
   letter-spacing:1px;
   @include border-radius(6px);
   @include opacity(0.97);
}
@mixin orange-btn-hover {
   @include opacity(0.9);
}
@mixin orange-btn-active {
   @include opacity(1.0);
}
.input_cont {
   label {
      position:absolute;
      letter-spacing:2px;
      color:#bbb;
      cursor:text;
      z-index:2;
   }
}
.input1 {
   width:258px;
   font-size:16px;
   border:1px solid #ddd;
   position:relative;
   color:#777;
   padding:9px 0 9px 10px;
   @include border-radius(4px);
}

.btn_close {
   position:absolute;
   font:bold 30px Tahoma;
   color:black;
   @include opacity(0.2);
   cursor:pointer;
   z-index:2;
}
.btn_close:hover {
   @include opacity(0.4);
}

.layer {
   width: 100%; 
   height: 100%; 
   position: fixed; 
   top: 0px; 
   left: 0px; 
   z-index: 10;
	background: url(/images/common/overlay.png); 
   overflow:hidden;
}
.centering {
   position: absolute; top: 50%; left: 50%;
}

.or-with-lines {
   overflow:hidden;
   padding:25px 0;
   div {
      display:inline-block;
   }
}

.or-with-lines:before, .or-with-lines:after {
   content:" ";
   background-color:#ddd;
   display:inline-block;
   height:1px;
   position:relative;
   vertical-align:middle;
   width:50%;
   top:-2px;
}

@mixin custom_simple_qtip($rgba) {
   .qtip-content {
      color:white;
   }
   background-color:$rgba;
   border-color:$rgba;
   @include border-radius(4px);
   padding:4px;
   .qtip-tip {
      background-color:$rgba;
   }
   .qtip-icon, .qtip_titlebar .ui-state-hover {
      border-color:$rgba;
   }

}

.qtip-my-dark {
   @include custom_simple_qtip(rgba(0,0,0,0.7));
}

.qtip-my-red {
   @include custom_simple_qtip(rgba(255,0,0,0.6));
}

.qtip-my-green {
   @include custom_simple_qtip(rgba(28,187,66,0.7));
}
.qtip-red-chkform1 {
   padding:5px 0; 
   .qtip-content {
      color:#912323;
   }
}
.qtip-my-white {
   @include custom_simple_qtip(rgba(255,255,255,0.8));
}
.input_error {
   background-color:rgba(255,0,0,0.12);
}


#header {
   padding-top:41px;
   padding-bottom:16px;
   .content {
      width:950px;
      div {
         @include inline-block;
      }
      .logo { 
         margin-top:-5px;
         margin-right:20px;
         margin-left:-20px;
      }
      .menu {
         li {
            float:left;
            font-family:$ebold;
            font-size:17px;
            padding:0 40px;
            border-right:2px solid #bbb;
         }
         li:hover {
            color:$menu-selected;
         }
         li:active {
            color:#444;
         }
         li.selected {
            color:$menu-selected;
         }
      }
      .stat {
         position:absolute;
         top:4px;
         right:0;
         span {
            cursor:pointer;
         }
      } 
   }
}

#tail {
   .content {
      width:950px;
      padding-top:15px;
      padding-bottom:20px;
      min-height:130px;

      .top {
         font-family:$bold;
      }
      .bottom {
         margin-top:25px;
         li {
            float:left;
            padding:0 20px;
            div {
               font-family:$bold;
               font-size:12px;
               color:#888;
            }
            .image {
               padding-left:0;
               margin-left:-9px;
               margin-top:-2px;
            }
            .image2 {
               padding-top:6px;
               padding-bottom:6px;
            }
            
         }
         li.left {
            border-right:2px solid #ddd;
            padding-left:0;

         }
      } 
      .family_site {
         position:absolute;
         top:63px;
         right:20px;
         select {
            min-width:250px;
            min-height:30px;
            font-size:13px;
            font-family:$bold;
            border:1px solid black;
            border-left:2px solid black;
            border-bottom:2px solid black;
            padding:3px;
            cursor:pointer;
         }
      }
   }
}

#joinLayer, #loginLayer,#findLayer {
   width:320px;
   display:none;
   background-color:#f7f7f7;
   @include border-radius(6px);
   .btn_close {
      top:-2px;
      right:10px;
   }
   .content {
      width:280px;
      text-align:center;
      padding-top:25px;
      padding-bottom:30px;
      .top {
         text-align:center;
         h1 {
            font-size:18px;
            font-family:$bold;
            margin:0;
            margin-bottom:25px;
            letter-spacing:2px;
         }
         .tit {
            text-align:left;
            width:258px;
            margin:0 auto 25px;
            color:#888;
            line-height:19px;
         }
         .btn_cont {
            margin-bottom:5px;
         }
      }
      .or-with-lines:before {
         margin-left:-50%;
         right:15px;
      }
      .or-with-lines:after {
         margin-right:-50%;
         left:15px;
      }
      .bottom {
         .input_cont {
            margin-bottom:8px;
            label {
               top:25%;
               left:11px;
               font-size:16px;
            }
         }
         .duple_check, .find_pw {
            position:absolute;
            top:12px;
            right:13px;
            cursor:pointer;
         }

         .use_provision {
            margin-top:20px;
            color:#555;
            letter-spacing:-1px;
            font:14px $bold;
         }

         .btn_cont {
            margin-top:20px;
            .join_btn, .login_btn, .find_btn {
               @include orange-btn(200px);
            }
            .join_btn:hover,.login_btn:hover, 
            .find_btn:hover {
               @include orange-btn-hover;
            }
            .join_btn:active, .login_btn:active,
            .find_btn:active {
               @include orange-btn-active;
            }
         }
      }
   }
}

#loginLayer.view {
   display:block;
}

.gauge {
   .gauge_bg {
      width:100%;
      background-color:#f2f2f2;
      height:13px;
      @include border-radius(8px);
      .gauge_bar {
         height:100%;
         background-color:#ff9e40;
         @include border-radius(8px);
      }
   }
   .gauge_info {
      margin-top:6px;
      .gauge_count {
         float:left;
         color:#ff9e40;
         font: 14px $ebold;
      }
      .gauge_target {
         float:right;
         font: 14px $bold;
      }
   }
}
.clear {
   clear:both;
}
.fb_share {
   cursor:pointer;
}

.zipcode-search-result td {height: auto; padding: 4px 0px; }
.zipcode-search {text-align: center; font-size: 12px; }


.label {font-size: 11px; color: #888; text-align: center; }

#dongName { width:172px; }
.zipcode-search.input1 {
   border:1px solid #aaa;
   width:47px;
   @include linear-gradient(#e9e9e9, #c4c4c4);
   cursor:pointer;
}
