@import 'global';
#content {
   .top_banner {
      min-height:330px;
      background-image:url(/images/main/main_banner.png);
      background-repeat:no-repeat;
      background-size:auto 100%;
      background-position:center center;
      background-color:#f5f5f5;
   }
   .content {
      width:950px;
      padding-bottom:40px;
      .campaign_part {
         margin-top:45px;
         .title {
            margin-bottom:15px;
         }
         .ctt {
            .video {
               @include inline-block;
               margin-right:15px;
               img {
                  width:425px;

               }
            }
            .info {
               @include inline-block;
               .btn_group {
                  .btn_cont {
                     @include inline-block;
                     margin-right:10px;
                  }
                  .btn_cont.end {
                     margin-right:0;
                  }
                  text-align:center;
                  margin-top:10px;
               }
            }
         }
         
      }

      .main_bottom {
         margin-top:45px;
         .dsp_zone {
            @include inline-block;
            width:425px;
            margin-right:30px;
            .more {
               top:0;
               left:4px;
            }
            .ctt img {
               width:100%;
            }
         }

         .notices {
            @include inline-block;
            width:478px;
            .title {
               margin-bottom:20px;
               .more {
                  top:12px;
                  right:18px;
               }
            }

            .notice, .nanum {
               .slides {
                  min-height:100px;
                  overflow:hidden;
                  position:relative;
                  .items {
                     position:absolute;
                     width:10000px;
                     div {
                        float:left;
                        margin:0 20px;
                        .page {
                           width:445px;
                           text-align:center;
                           font-size:13px;
                           border-collapse:collapse;
                           tr {
                              cursor:pointer;
                              border-bottom:1px solid #ccc;
                           }
                           td {
                              height:31px;
                           }
                           .title {
                              text-align:left;
                           }
                        }
                     }
                  }
               }
               .paging {
                  text-align:center;
                  font-size:12px;
                  margin-top:10px;
                  span {
                     cursor:pointer;
                  }
                  .arrow {
                     color:#aaa;
                     font-family:$ebold;
                  }
                  .now {
                     font-family:$bold;
                     color:$menu-selected;
                     font-size:13px;
                  }
               }

            }
            .nanum {
               margin-top:25px;
            }
         }
      }

   }
}
