/* skelectal
------------------------------------------------------------------------- */
/* line 4, ../scss/layout.scss */
#header {
  max-width: 930px;
  height: 60px;
  margin: 15px auto;
}

/* line 6, ../scss/layout.scss */
#highlight {
  background: #F4F4E3;
}

/* line 7, ../scss/layout.scss */
#highlight div.wrap {
  width: 930px;
  margin: 20px auto;
}

/* line 9, ../scss/layout.scss */
#content {
  width: 930px;
  min-height: 600px;
  margin: 30px auto 50px auto;
  background-color: white;
}

/* line 12, ../scss/layout.scss */
#content.solid {
  border-top: solid 3px #E30000;
  -moz-box-shadow: 2px 2px 2px #AAAAAA;
  -webkit-box-shadow: 2px 2px 2px #AAAAAA;
  box-shadow: 2px 2px 2px #AAAAAA;
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=135, Color='#AAAAAA')";
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=135, Color='#AAAAAA');
}

/* line 20, ../scss/layout.scss */
#content.solid div.inner {
  padding: 10px 30px 75px 30px;
}

/* line 22, ../scss/layout.scss */
#footerwrap {
  clear: both;
  width: 100%;
  text-align: center;
  background-color: #F4F4E3;
}

/* line 24, ../scss/layout.scss */
#footerwrap #footer {
  width: 930px;
  margin: 0px auto;
  text-align: left;
  background-color: #F4F4E3;
  padding: 15px;
}

/* line 28, ../scss/layout.scss */
#copyrightwrap {
  width: 100%;
  text-align: center;
  background-color: #373737;
}

/* line 29, ../scss/layout.scss */
#copyrightwrap #copyright {
  width: 800px;
  text-align: left;
  margin: 0px auto;
  padding: 40px 0px;
  font: 9pt/18px NanumGothic;
  color: #B9B9B9;
}

/* line 32, ../scss/layout.scss */
.layer {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 10;
  background: url(/images/common/overlay.png);
  overflow: hidden;
}

/* line 39, ../scss/layout.scss */
.centering {
  position: absolute;
  top: 50%;
  left: 50%;
}

/* layout details
------------------------------------------------------------------------- */
/* line 44, ../scss/layout.scss */
h1 {
  float: left;
  margin: 12px 0px 0px 0px;
}

/* header */
/* line 47, ../scss/layout.scss */
#header img {
  vertical-align: middle;
}

/* top menu */
/* line 51, ../scss/layout.scss */
#menu {
  width: 100%;
  height: 55px;
  background: #f4f4e3 url(/images/common/nav_bg.png) repeat-x center bottom;
  text-align: left;
}

/* line 54, ../scss/layout.scss */
#menu menu {
  list-style: none;
  position: absolute;
  left: 50%;
  margin-left: -375px;
  width: 750px;
}

/* line 55, ../scss/layout.scss */
#menu li {
  float: left;
  text-align: center;
}

/* line 57, ../scss/layout.scss */
#menu a {
  font: 15px/45px NanumGothic;
  color: #ECECEC;
  text-shadow: 0px -1px #555555, 1px 1px #555555;
  width: 125px;
  height: 45px;
  display: block;
}

/* line 60, ../scss/layout.scss */
#menu a.on, #menu a:hover {
  text-decoration: none;
  border-bottom: solid 2px #E30000;
  background-color: black;
}

/* loginlayer */
/* line 64, ../scss/layout.scss */
#loginLayer {
  display: none;
  background-color: white;
  border: solid 2px #E30000;
  /*#E2E2DF*/
  width: 400px;
  height: 250px;
  text-align: left;
  line-height: 0;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

/* line 67, ../scss/layout.scss */
#loginLayer input.text {
  width: 265px;
  height: 25px;
  font: 9pt NanumGothic;
  margin: 4px 0px;
  padding: 0px 3px;
  border: solid 1px #DDDDDD;
}

/* line 68, ../scss/layout.scss */
.close {
  position: absolute;
  top: 5px;
  right: 5px;
  text-align: right;
  font: bold 20px/18px Tahoma,sans-serif;
  color: black;
  text-shadow: 0 1px 0 #ffffff;
  opacity: 0.2;
  filter: alpha(opacity=20);
  cursor: pointer;
}

/* line 69, ../scss/layout.scss */
.close:hover {
  opacity: 0.4;
  filter: alpha(opacity=40);
}

/* coin donate layer */
/* line 73, ../scss/layout.scss */
#coinDonateLayer {
  display: none;
  background-color: #F0EAEC;
  border: solid 2px #A4A3A4;
  /*#E2E2DF*/
  width: 200px;
  height: 150px;
}

/* highlight */
/* line 78, ../scss/layout.scss */
#highlight h2 {
  font: 12pt NanumGothicBold;
  color: black;
  text-shadow: 0px 1px #A2A2A2;
  margin: 0px 0px 5px 0px;
}

/* line 82, ../scss/layout.scss */
#highlight.campaign h2 {
  font: 16pt NanumGothic;
  color: black;
  text-shadow: 0px 1px #A2A2A2;
  margin: 0px 0px 5px 0px;
}

/* main highlight */
/* line 86, ../scss/layout.scss */
#loginBox {
  background: white url(/images/main/header_login.png) no-repeat top;
  -moz-box-shadow: 2px 2px 2px #AAAAAA;
  -webkit-box-shadow: 2px 2px 2px #AAAAAA;
  box-shadow: 2px 2px 2px #AAAAAA;
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=135, Color='#AAAAAA')";
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=135, Color='#AAAAAA');
}

/* line 87, ../scss/layout.scss */
#loginBox #loginCombo li {
  float: left;
  width: 33%;
  height: 60px;
  text-indent: -5000px;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center top;
}

/* line 88, ../scss/layout.scss */
#loginBox #loginCombo li.btn_login_facebook {
  background-image: url(/images/main/btn_facebook.png);
}

/* line 89, ../scss/layout.scss */
#loginBox #loginCombo li.btn_login_twitter {
  background-image: url(/images/main/btn_twitter.png);
}

/* line 90, ../scss/layout.scss */
#loginBox #loginCombo li.btn_login {
  background-image: url(/images/main/btn_wegen.png);
}

/* line 92, ../scss/layout.scss */
#myInfoBox {
  background: white url(/images/main/header_myinfo.png) no-repeat top left;
  -moz-box-shadow: 2px 2px 2px #AAAAAA;
  -webkit-box-shadow: 2px 2px 2px #AAAAAA;
  box-shadow: 2px 2px 2px #AAAAAA;
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=135, Color='#AAAAAA')";
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=135, Color='#AAAAAA');
}

/* line 93, ../scss/layout.scss */
#myInfoBox img.portrait {
  float: left;
  width: 60px;
  height: 60px;
  margin-right: 10px;
}

/* line 94, ../scss/layout.scss */
#myInfoBox h3 {
  font: 13px/30px NanumGothicBold;
  color: #222222;
  text-shadow: 0px 1px #BFBFBF;
  margin: 0px 0px 0px;
}

/* line 95, ../scss/layout.scss */
#myInfoBox #myBadge li {
  float: left;
  text-align: center;
  width: 20%;
  background: url(/images/common/badges/blank.png) no-repeat center;
}

/* line 96, ../scss/layout.scss */
#myInfoBox #myBadge li img {
  width: 90%;
}

/* line 97, ../scss/layout.scss */
#myInfoBox .wegenLevel {
  font-size: 8pt;
  font-family: Arial;
  height: 45px;
  padding-top: 10px;
}

/* line 98, ../scss/layout.scss */
#myInfoBox .wegenLevel .level {
  font-weight: bold;
  font-family: Arial;
  color: #E30000;
}

/* line 100, ../scss/layout.scss */
#recentBox {
  position: absolute;
  bottom: 0px;
  width: 100%;
  background: white url(/images/main/header_recent.png) no-repeat top;
  -moz-box-shadow: 2px 2px 2px #AAAAAA;
  -webkit-box-shadow: 2px 2px 2px #AAAAAA;
  box-shadow: 2px 2px 2px #AAAAAA;
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=135, Color='#AAAAAA')";
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=135, Color='#AAAAAA');
}

/* line 101, ../scss/layout.scss */
#recentBox img.portrait {
  float: left;
  width: 40px;
  height: 40px;
  margin-right: 8px;
}

/* line 102, ../scss/layout.scss */
#recentBox #recentFeeds li {
  clear: both;
  height: 50px;
  font-size: 11px;
  letter-spacing: -1px;
  text-align: justify;
}

/* line 103, ../scss/layout.scss */
#recentBox #recentFeeds li span {
  font: 9pt NanumGothicBold;
  margin-bottom: 4px;
}

/* content */
/* line 108, ../scss/layout.scss */
#content h2 {
  font: 16pt/40px NanumGothicBold;
  letter-spacing: -2px;
  color: black;
  text-shadow: 1px 1px 1px #BFBFBF;
  margin: 0px;
  border-bottom: solid 2px black;
}

/* line 112, ../scss/layout.scss */
#content h3 {
  font: 12pt/30px NanumGothicBold;
  color: black;
  text-shadow: 0px 1px #A2A2A2;
  border-bottom: solid 2px #E30000;
  margin: 0px 0px 20px 0px;
}

/* line 116, ../scss/layout.scss */
#content menu.submenu li {
  height: 30px;
  float: left;
  padding-right: 30px;
  margin-left: 8px;
  cursor: pointer;
  font: 15px/30px NanumGothicBold;
  color: #222222;
  text-shadow: 0px 1px #BFBFBF;
}

/* line 120, ../scss/layout.scss */
menu.leftmenu li {
  height: 30px;
  width: 100%;
  margin-left: 8px;
  cursor: pointer;
  font: 13px/30px NanumGothicBold;
  color: #222222;
  text-shadow: 0px 1px #BFBFBF;
}

/* line 124, ../scss/layout.scss */
#content ul.guide li {
  width: 100%;
  text-indent: 10px;
  cursor: pointer;
  border-bottom: solid 1px #F0F0F0;
  font: 13px/40px NanumGothic;
}

/* line 126, ../scss/layout.scss */
.guideAnswer {
  background-color: #EFEFEF;
  text-indent: 0px;
  display: none;
}

/* mypage */
/* line 130, ../scss/layout.scss */
#content #mypage img.portrait {
  float: left;
  width: 80px;
  height: 80px;
  margin-right: 20px;
}

/* line 131, ../scss/layout.scss */
#content #mypage .myBadge li {
  float: left;
  position: relative;
  width: 108px;
  height: 150px;
  text-align: center;
}

/* line 132, ../scss/layout.scss */
#content #mypage .myBadge li img {
  width: 90px;
}

/* line 133, ../scss/layout.scss */
#content #mypage .myBadge .procBadge {
  cursor: pointer;
}

/* line 134, ../scss/layout.scss */
#content #mypage .wegenLevel {
  font-size: 10pt;
  font-family: Arial;
  height: 30px;
  padding-top: 10px;
}

/* line 135, ../scss/layout.scss */
#content #mypage .wegenLevel .level {
  font-weight: bold;
  font-family: Arial;
  color: #E30000;
}

/* line 136, ../scss/layout.scss */
#content #mypage .myBadge .counter {
  position: absolute;
  top: 60px;
  left: 70px;
  width: 35px;
  height: 35px;
  background: url(/images/common/badges/badge_counter.png) no-repeat;
  text-align: center;
  color: white;
  font-weight: bold;
  padding-top: 10px;
}

/* line 137, ../scss/layout.scss */
#content #mypage .modify {
  background-color: black;
  color: white;
  font: 9pt NanumGothic;
  outline: none;
  border: none;
  cursor: pointer;
  width: 100px;
  height: 22px;
}

/* campaign list */
/* line 140, ../scss/layout.scss */
#campaignList li {
  float: left;
  width: 32%;
  margin-right: 2%;
}

/* line 141, ../scss/layout.scss */
#campaignList .campaignCell {
  width: 280px;
  height: 300px;
  margin: 0px auto 36px auto;
  position: relative;
  border: solid 2px #E2E2DF;
  background-color: #F4F4E3;
}

/*-moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px; */
/* line 142, ../scss/layout.scss */
#campaignList .campaignCell.highlighted {
  width: 600px;
  height: 640px;
}

/* line 143, ../scss/layout.scss */
#campaignList .campaignCell div.margin {
  padding: 10px;
}

/* line 144, ../scss/layout.scss */
#campaignList .campaignCell img.thumbnail {
  width: 100%;
  height: 168px;
}

/* line 145, ../scss/layout.scss */
#campaignList .campaignCell img.tag {
  position: absolute;
  top: 0px;
  left: 0px;
}

/* line 146, ../scss/layout.scss */
#campaignList .campaignCell h3 {
  color: #E30000;
  text-shadow: none;
  font: 9pt/150% NanumGothic;
  margin: 0px 0px 4px;
  border: none;
}

/* line 147, ../scss/layout.scss */
#campaignList .campaignCell .campaignTitle {
  font: 14px NanumGothicBold;
  color: #222222;
  text-shadow: 0px 1px #BFBFBF;
  /*text-overflow: ellipsis; white-space: nowrap; overflow: hidden;*/
}

/* line 148, ../scss/layout.scss */
#campaignList .campaignCell .campaignDesc {
  margin: 10px 0px;
  font: 10pt/180% NanumGothic;
  color: gray;
  text-align: justify;
  display: none;
}

/* line 149, ../scss/layout.scss */
#campaignList .campaignCell .donateNow {
  position: absolute;
  top: 180px;
  right: 10px;
  width: 100px;
  text-align: right;
  font: 9pt NanumGothicBold;
}

/* line 150, ../scss/layout.scss */
#campaignList .campaignCell .donateNow img {
  width: 15px;
  vertical-align: middle;
}

/* line 151, ../scss/layout.scss */
#campaignList .campaignCell .donateNow a:hover {
  text-decoration: underline;
}

/* line 153, ../scss/layout.scss */
#campaignList li.highlighted {
  width: 66%;
  margin-right: 2%;
}

/* line 154, ../scss/layout.scss */
#campaignList div.highlighted {
  width: 600px;
  height: 640px;
}

/* line 155, ../scss/layout.scss */
#campaignList div.highlighted div.margin {
  padding: 15px;
}

/* line 156, ../scss/layout.scss */
#campaignList div.highlighted img.thumbnail {
  height: 369px;
}

/* line 157, ../scss/layout.scss */
#campaignList div.highlighted img.tag {
  top: 0px;
  left: 0px;
  width: 125px;
  height: 125px;
}

/* line 158, ../scss/layout.scss */
#campaignList div.highlighted h3 {
  margin-top: 20px;
  font: 11pt/150% NanumGothicBold;
}

/* line 159, ../scss/layout.scss */
#campaignList div.highlighted .campaignTitle {
  font: 18px NanumGothicBold;
}

/* line 160, ../scss/layout.scss */
#campaignList div.highlighted .campaignDesc {
  display: block;
}

/* line 161, ../scss/layout.scss */
#campaignList div.highlighted .donateNow {
  position: absolute;
  top: 390px;
  right: 10px;
  width: 100px;
  text-align: right;
  font-size: 11pt;
}

/* line 162, ../scss/layout.scss */
#campaignList div.highlighted .donateNow img {
  width: 20px;
}

/* line 164, ../scss/layout.scss */
#campaignList li.postscript {
  width: 100%;
  margin-right: 0%;
}

/* line 165, ../scss/layout.scss */
#campaignList div.postscript {
  width: 100%;
  height: 260px;
}

/* line 166, ../scss/layout.scss */
#campaignList div.postscript img.thumbnail {
  width: 372px;
  height: 260px;
}

/*#campaignList div.postscript img.thumbnail {width: 100%; height: 100%; }*/
/* line 168, ../scss/layout.scss */
#campaignList div.postscript h3 {
  margin-top: 0px;
  font: 12pt NanumGothicBold;
}

/* line 169, ../scss/layout.scss */
#campaignList div.postscript .campaignTitle {
  font: bold 14pt NanumGothic;
}

/* line 170, ../scss/layout.scss */
#campaignList div.postscript .campaignDesc {
  height: 120px;
  display: block;
}

/* line 171, ../scss/layout.scss */
#campaignList div.postscript span {
  float: right;
  letter-spacing: -1px;
  font-weight: bold;
}

/* line 172, ../scss/layout.scss */
#campaignList li.closed {
  margin-right: 0px;
}

/* campaign detail */
/* line 176, ../scss/layout.scss */
#campaignTab, #campaignComment {
  width: 930px;
  margin: 0px auto;
}

/* line 178, ../scss/layout.scss */
#campaignTab li {
  width: 90px;
  height: 30px;
  float: left;
  margin-left: 8px;
  cursor: pointer;
  font: 15px/30px NanumGothicBold;
  color: #222222;
  text-shadow: 0px 1px #BFBFBF;
}

/* line 181, ../scss/layout.scss */
#campaignComment li {
  width: 100px;
  height: 30px;
  float: left;
  margin-left: 8px;
  cursor: pointer;
  font: 15px/30px NanumGothicBold;
  color: #222222;
  text-shadow: 0px 1px #BFBFBF;
}

/* line 184, ../scss/layout.scss */
#content menu.submenu li.on, menu.leftmenu li.on, #campaignTab li.on, #campaignComment li.on {
  color: #E53333;
  text-shadow: 0px 1px #F8C0C0;
}

/* line 186, ../scss/layout.scss */
.connect_top {
  padding: 2px;
  margin-bottom: 25px;
}

/* line 187, ../scss/layout.scss */
.connect_input {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  min-height: 140px;
}

/* line 188, ../scss/layout.scss */
.connect_posts {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

/* line 189, ../scss/layout.scss */
.connect_post {
  display: block;
  border-bottom: 1px solid black;
  margin-bottom: 30px;
  padding-bottom: 21px;
}

/* line 190, ../scss/layout.scss */
.connect_post .connect_post_info {
  display: block;
  margin-bottom: 5px;
  position: relative;
}

/* line 191, ../scss/layout.scss */
.connect_post .connect_post_info .profile_img {
  width: 40px;
  display: block;
  float: left;
  margin-right: 8px;
}

/* line 192, ../scss/layout.scss */
.connect_post .connect_post_info .profile_info {
  display: table-cell;
}

/* line 193, ../scss/layout.scss */
.connect_post .connect_post_info .btn_group {
  position: absolute;
  top: 11px;
  right: 9px;
  font-size: 10pt;
  color: #969696;
}

/* line 194, ../scss/layout.scss */
.connect_post .connect_post_info .btn_group .like_box {
  display: inline-block;
  padding: 2px;
  font-size: 11px;
  color: red;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

/* line 206, ../scss/layout.scss */
.connect_post .connect_cmt {
  border-bottom: 1px solid #ebebeb;
  border-top: 1px solid #ebebeb;
  padding: 9px 0 9px 50px;
  background: url(/images/common/icon_re.png) no-repeat 20px 30px;
}

/* color */
/* font */
/* line 3, ../scss/_auction.scss */
.auc_det_outer {
  margin: 30px 22px 0;
  position: relative;
}
/* line 6, ../scss/_auction.scss */
.auc_det_outer .right_corner {
  position: absolute;
  top: 7px;
  right: 8px;
  font-size: 13px;
  font-family: NanumGothicBold;
}
/* line 13, ../scss/_auction.scss */
.auc_det_outer .content {
  background-color: #f4f4e3;
  padding: 25px 23px;
}
/* line 16, ../scss/_auction.scss */
.auc_det_outer .content .content_title {
  font: 19px NanumGothicExBold;
  color: black;
  margin-bottom: 25px;
}
/* line 22, ../scss/_auction.scss */
.auc_det_outer .content .content_left {
  margin-right: 15px;
  width: 250px;
  height: 180px;
}
/* line 28, ../scss/_auction.scss */
.auc_det_outer .content .content_right ._1 {
  margin-bottom: 24px;
}
/* line 30, ../scss/_auction.scss */
.auc_det_outer .content .content_right ._1 ._1_left, .auc_det_outer .content .content_right ._1 ._1_right {
  display: inline-block;
  vertical-align: top;
}
/* line 34, ../scss/_auction.scss */
.auc_det_outer .content .content_right ._1 ._1_left {
  margin-right: 10px;
}
/* line 36, ../scss/_auction.scss */
.auc_det_outer .content .content_right ._1 ._1_left img {
  width: 45px;
  margin-left: 4px;
}
/* line 42, ../scss/_auction.scss */
.auc_det_outer .content .content_right ._1 ._1_right ._1_right_tit {
  font: 14px NanumGothicBold;
  color: black;
  margin-bottom: 7px;
}
/* line 47, ../scss/_auction.scss */
.auc_det_outer .content .content_right ._1 ._1_right ._1_right_ctt {
  font: 20px NanumGothicBold;
  color: black;
  letter-spacing: -3px;
}
/* line 54, ../scss/_auction.scss */
.auc_det_outer .content .content_right ._2 {
  margin-bottom: 16px;
}
/* line 56, ../scss/_auction.scss */
.auc_det_outer .content .content_right ._2 ._2_left, .auc_det_outer .content .content_right ._2 ._2_right {
  display: inline-block;
  vertical-align: top;
}
/* line 60, ../scss/_auction.scss */
.auc_det_outer .content .content_right ._2 ._2_left {
  margin-right: 6px;
}
/* line 64, ../scss/_auction.scss */
.auc_det_outer .content .content_right ._2 ._2_right ._2_right_tit {
  font: 14px NanumGothicBold;
  color: black;
  margin-bottom: 6px;
}
/* line 69, ../scss/_auction.scss */
.auc_det_outer .content .content_right ._2 ._2_right ._2_right_ctt {
  font: 20px NanumGothicBold;
  color: black;
  letter-spacing: -1px;
}
/* line 76, ../scss/_auction.scss */
.auc_det_outer .content .content_right ._3 {
  cursor: pointer;
}
/* line 78, ../scss/_auction.scss */
.auc_det_outer .content .content_right ._3 img {
  width: 100%;
}
/* line 82, ../scss/_auction.scss */
.auc_det_outer .content .content_right .auc_layout_open {
  cursor: pointer;
}
/* line 86, ../scss/_auction.scss */
.auc_det_outer .content .content_left, .auc_det_outer .content .content_right {
  display: inline-block;
  vertical-align: top;
}

/* line 94, ../scss/_auction.scss */
.auc_pop_outer {
  display: none;
  border: 2px solid #cccccc;
  width: 650px;
  z-index: 3;
  padding: 0 49px 0 30px;
  background-color: white;
  position: relative;
  height: 100%;
  max-height: 733px;
  overflow-y: auto;
}
/* line 105, ../scss/_auction.scss */
.auc_pop_outer .close {
  position: absolute;
  right: 15px;
  top: 13px;
  color: black;
  font-size: 34px;
  cursor: pointer;
}
/* line 113, ../scss/_auction.scss */
.auc_pop_outer .content {
  margin: 25px 0;
}
/* line 117, ../scss/_auction.scss */
.auc_pop_outer .content_tit {
  background-color: #f4f4e3;
  font: 20px NanumGothicExBold;
  text-align: center;
  padding: 12px 0;
  margin-bottom: 20px;
}
/* line 125, ../scss/_auction.scss */
.auc_pop_outer .content_info {
  margin-bottom: 25px;
  padding: 0 25px;
}
/* line 128, ../scss/_auction.scss */
.auc_pop_outer .content_info .info_left, .auc_pop_outer .content_info .info_right {
  display: inline-block;
  vertical-align: top;
}
/* line 132, ../scss/_auction.scss */
.auc_pop_outer .content_info .info_left {
  margin-right: 17px;
  width: 250px;
  height: 180px;
}
/* line 137, ../scss/_auction.scss */
.auc_pop_outer .content_info .info_right {
  width: 326px;
  height: 180px;
  overflow-y: auto;
}
/* line 141, ../scss/_auction.scss */
.auc_pop_outer .content_info .info_right ._1 {
  margin-bottom: 14px;
}
/* line 143, ../scss/_auction.scss */
.auc_pop_outer .content_info .info_right ._1 ._1_left, .auc_pop_outer .content_info .info_right ._1 ._1_right {
  display: inline-block;
  vertical-align: top;
}
/* line 147, ../scss/_auction.scss */
.auc_pop_outer .content_info .info_right ._1 ._1_left {
  margin-right: 10px;
}
/* line 149, ../scss/_auction.scss */
.auc_pop_outer .content_info .info_right ._1 ._1_left img {
  width: 45px;
  margin-left: 4px;
}
/* line 155, ../scss/_auction.scss */
.auc_pop_outer .content_info .info_right ._1 ._1_right ._1_right_tit {
  font: 14px NanumGothicBold;
  color: black;
  margin-bottom: 7px;
}
/* line 160, ../scss/_auction.scss */
.auc_pop_outer .content_info .info_right ._1 ._1_right ._1_right_ctt {
  font: 20px NanumGothicBold;
  color: black;
  letter-spacing: -3px;
}
/* line 167, ../scss/_auction.scss */
.auc_pop_outer .content_info .info_right ._2 {
  line-height: 18px;
  margin-bottom: 9px;
  font-family: NanumGothicBold;
  font-size: 12px;
}
/* line 172, ../scss/_auction.scss */
.auc_pop_outer .content_info .info_right ._2 .red {
  color: #e40000;
  font-family: NanumGothicExBold;
}
/* line 176, ../scss/_auction.scss */
.auc_pop_outer .content_info .info_right ._2 .desc {
  font-size: 13px;
  font-family: NanumGothicExBold;
}
/* line 184, ../scss/_auction.scss */
.auc_pop_outer .content_bid {
  border: 3px solid #facccc;
  height: 130px;
  margin-bottom: 15px;
  overflow-y: auto;
}
/* line 190, ../scss/_auction.scss */
.auc_pop_outer .content_bid table.list {
  border: 0;
  border-spacing: 18px 0;
  border-collapse: separate;
  width: 100%;
  margin: 0 auto;
  font-family: NanumGothicBold;
  color: black;
}
/* line 198, ../scss/_auction.scss */
.auc_pop_outer .content_bid table.list tr[data-chkme] {
  color: red;
}
/* line 201, ../scss/_auction.scss */
.auc_pop_outer .content_bid table.list td {
  text-align: center;
  border: 0;
  height: 28px;
}
/* line 208, ../scss/_auction.scss */
.auc_pop_outer .content_bid table.list .top_row td {
  border-bottom: 1px solid #aaaaaa;
  margin-right: 18px;
}
/* line 216, ../scss/_auction.scss */
.auc_pop_outer .content_mb {
  background-color: #f4f4e3;
  padding: 8px 20px;
  margin-bottom: 20px;
}
/* line 220, ../scss/_auction.scss */
.auc_pop_outer .content_mb .mb_info {
  border: 0;
}
/* line 222, ../scss/_auction.scss */
.auc_pop_outer .content_mb .mb_info th, .auc_pop_outer .content_mb .mb_info td {
  border: 0;
  color: black;
}
/* line 226, ../scss/_auction.scss */
.auc_pop_outer .content_mb .mb_info th {
  font-size: 13px;
  padding: 0;
  padding-right: 9px;
  font-family: NanumGothicExBold;
}
/* line 235, ../scss/_auction.scss */
.auc_pop_outer .content_input {
  text-align: right;
}
/* line 237, ../scss/_auction.scss */
.auc_pop_outer .content_input .input_mny, .auc_pop_outer .content_input .bid_btn, .auc_pop_outer .content_input .won {
  display: inline-block;
  vertical-align: top;
}
/* line 241, ../scss/_auction.scss */
.auc_pop_outer .content_input .input_mny {
  padding-top: 3px;
  margin-right: 2px;
}
/* line 243, ../scss/_auction.scss */
.auc_pop_outer .content_input .input_mny span {
  margin-right: 5px;
  font: 18px NanumGothicExBold;
}
/* line 247, ../scss/_auction.scss */
.auc_pop_outer .content_input .input_mny input {
  height: 26px;
  width: 127px;
  text-align: right;
  border-color: #9B9B9B;
}
/* line 255, ../scss/_auction.scss */
.auc_pop_outer .content_input .bid_btn {
  cursor: pointer;
}
/* line 258, ../scss/_auction.scss */
.auc_pop_outer .content_input .won {
  font-family: NanumGothicExBold;
  font-size: 18px;
  padding-top: 7px;
  margin-right: 8px;
}

/* line 268, ../scss/_auction.scss */
input[name="mb_hp1"] {
  width: 30px;
}

/* line 271, ../scss/_auction.scss */
input[name="mb_hp2"] .mb_hp{
  width: 30px;
}

/* line 274, ../scss/_auction.scss */
input[name="mb_hp3"] .mb_hp{
  width: 30px;
}

/* campaign info */
/* line 211, ../scss/layout.scss */
#campaignInfo {
  float: right;
  width: 250px;
  margin-top: 30px;
  z-index: 2;
}

/* line 212, ../scss/layout.scss */
#campaignInfo .campaignDetail {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: solid 1px gray;
}

/* line 213, ../scss/layout.scss */
#campaignInfo .campaignDetail2 {
  margin-bottom: 20px;
  background-color: #F4F4E3;
  border: solid 2px #AFAFAF;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

/* line 214, ../scss/layout.scss */
#campaignInfo h3 {
  font: 14px NanumGothicBold;
  margin: 0px 0px 15px;
  border: none;
}

/* line 217, ../scss/layout.scss */
#campaignInfo #shares li {
  float: left;
  width: 33%;
  height: 40px;
  text-indent: -5000px;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center top;
}

/* line 218, ../scss/layout.scss */
#campaignInfo #shares li.btn_facebook {
  background-image: url(/images/campaign/btn_facebook.png);
}

/* line 219, ../scss/layout.scss */
#campaignInfo #shares li.btn_twitter {
  background-image: url(/images/campaign/btn_twitter.png);
}

/* line 220, ../scss/layout.scss */
#campaignInfo #shares li.btn_comment {
  background-image: url(/images/campaign/btn_comment.png);
}

/* line 222, ../scss/layout.scss */
#campaignInfo #donators li, #campaignInfo #sharers li {
  float: left;
  width: 40px;
  height: 40px;
  margin: 0px 5px 5px 0px;
  cursor: pointer;
}

/* line 223, ../scss/layout.scss */
#campaignInfo #donators #donatorsDesc, #campaignInfo #sharers #sharersDesc {
  clear: both;
  float: left;
  width: 40%;
  height: 20px;
  line-height: 20px;
  margin-top: 10px;
  cursor: default;
}

/* line 224, ../scss/layout.scss */
#campaignInfo #donators #donatorsDesc span, #campaignInfo #sharers #sharersDesc span {
  font: bold 14px Arial;
  color: #E30000;
}

/* line 225, ../scss/layout.scss */
#campaignInfo #donators .more, #campaignInfo #sharers .more {
  float: right;
  width: 40%;
  height: 20px;
  line-height: 20px;
  margin-top: 10px;
  text-align: right;
  font-weight: bold;
  cursor: default;
}

/* gauge(common) */
/* line 228, ../scss/layout.scss */
.gauge {
  position: relative;
  margin-top: 12px;
  margin-bottom: 4px;
  width: 100%;
  height: 18px;
  background-color: white;
  border: solid 1px #C6C6C5;
  text-align: right;
  color: #E30000;
}

/* line 229, ../scss/layout.scss */
.progress {
  float: left;
  background-color: #E30000;
  height: 100%;
}

/* line 230, ../scss/layout.scss */
.progressToday {
  float: right;
  background-color: #E02020;
  height: 100%;
}

/* line 231, ../scss/layout.scss */
.percent {
  position: absolute;
  right: 2px;
  font: bold 12px/18px Arial;
  color: #E30000;
  z-index: 1;
}

/* line 232, ../scss/layout.scss */
.funded {
  font: bold 9pt Arial, NanumGothic;
}

/* line 233, ../scss/layout.scss */
.targeted {
  float: right;
  font: bold 9pt Arial, NanumGothic;
}

/* line 234, ../scss/layout.scss */
.cam_school {
  height: 50px;
  position: absolute;
  right: -19px;
  top: -18px;
}

/* line 235, ../scss/layout.scss */
.cam_school.end {
  height: 50px;
  position: absolute;
  right: -13px;
  top: -23px;
}

/* gauge(campaign-highlighted) */
/* line 238, ../scss/layout.scss */
.highlighted .gauge {
  height: 27px;
  margin-bottom: 8px;
}

/* line 239, ../scss/layout.scss */
.highlighted .percent {
  font-size: 14pt;
  line-height: 27px;
}

/* line 240, ../scss/layout.scss */
.highlighted .funded, .highlighted .targeted {
  font-size: 12pt;
}

/* line 241, ../scss/layout.scss */
.highlighted .cam_school {
  height: 60px;
  top: -25px;
}

/* line 242, ../scss/layout.scss */
.highlighted .cam_school.end {
  height: 60px;
}

/* donate */
/* line 244, ../scss/layout.scss */
#content .donation h3 {
  font: 12pt/30px NanumGothicBold;
  color: black;
  text-shadow: 0px 1px #A2A2A2;
  border-bottom: solid 2px black;
  margin: 0px;
}

/* line 245, ../scss/layout.scss */
#content #donationLeft li {
  line-height: 40px;
  padding-left: 15px;
  border-bottom: solid 1px #E9E9E9;
}

/* line 246, ../scss/layout.scss */
#content #donationReceipt li {
  line-height: 40px;
  height: 40px;
  border-bottom: solid 1px #E9E9E9;
  float: left;
  width: 33%;
  padding: 0px;
  text-align: center;
}

/* line 247, ../scss/layout.scss */
#content .donation p {
  font-size: 11px;
  line-height: 18px;
  margin-top: 10px;
  text-align: justify;
}

/* line 248, ../scss/layout.scss */
#content .donation th {
  padding-left: 15px;
  text-align: left;
}

/* line 249, ../scss/layout.scss */
#content .donation th, td {
  border-bottom: solid 1px #E9E9E9;
  height: 40px;
}

/* line 250, ../scss/layout.scss */
#content .donation input.text {
  height: 18px;
  font: 9pt NanumGothic;
  margin: 3px 0px;
  padding: 0px 3px;
  border: solid 1px #DDDDDD;
}

/* line 251, ../scss/layout.scss */
#content .donation input.submit {
  margin: 30px 0px;
  outline: none;
  border: none;
  width: 150px;
  height: 40px;
  text-align: center;
  background-color: black;
  color: white;
  font: 12pt NanumGothic;
  cursor: pointer;
}

/* zipcode search */
/* line 254, ../scss/layout.scss */
.zipcode-search-result td {
  height: auto;
  padding: 4px 0px;
}

/* line 255, ../scss/layout.scss */
.zipcode-search {
  text-align: center;
  font: 9pt NanumGothic;
}

/* line 257, ../scss/layout.scss */
#pluginLayer {
  width: 400px;
  height: 300px;
  text-align: center;
  color: #FAFAFA;
  display: none;
}

/* line 258, ../scss/layout.scss */
#pluginLayer p {
  font: 11pt NanumGothicBold;
  color: white;
  margin-bottom: 30px;
  z-index: 1;
}

/* hall of fame */
/* line 261, ../scss/layout.scss */
#hall-of-fame li {
  float: left;
  width: 50px;
  height: 50px;
  margin: 0px 10px 10px;
}

/* footer */
/* line 264, ../scss/layout.scss */
#footer menu li {
  float: left;
  height: 27px;
  font: 14px/27px NanumGothicBold;
  padding: 0px 15px;
}

/* member portrait */
/* line 267, ../scss/layout.scss */
img.portrait {
  width: 100%;
  cursor: pointer;
  outline: solid 1px #AFAFAF;
}

/* about */
/* line 270, ../scss/layout.scss */
#about p {
  text-align: justify;
  font: 13px/180% NanumGothic;
  text-shadow: 0px 1px #E1E1E1;
  margin-bottom: 10px;
  letter-spacing: -1px;
}

/* line 271, ../scss/layout.scss */
#about h3 {
  font: 18px NanumGothic;
  color: #444444;
  text-shadow: 0px 1px #CACACA;
  border: none;
  margin: 0px;
  padding: 10px 0px 30px 0px;
}

/* line 272, ../scss/layout.scss */
#about h4 {
  font: 12pt NanumGothicBold;
  color: #C72B3D;
  text-shadow: 0px 1px #F1DADE;
  letter-spacing: -1px;
  margin: 0px;
  padding: 25px 0px;
}

/* grant badge popup */
/* line 275, ../scss/layout.scss */
.grantBadge {
  position: relative;
  width: 220px;
  height: 220px;
  margin: 0px auto;
  background: url(/images/common/badges/grant_bg.png);
}

/* line 276, ../scss/layout.scss */
.grantBadge img {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -50px;
  margin-top: -60px;
}

/* line 277, ../scss/layout.scss */
.qtip p {
  margin-bottom: 10px;
  text-align: center;
}

/* line 278, ../scss/layout.scss */
.qtip button {
  margin: 0px 10px;
  outline: none;
  border: none;
  display: inline !important;
  width: 80px;
  height: 25px;
  text-align: center;
  background-color: black;
  color: white;
  font: 10pt NanumGothic;
  cursor: pointer;
}

/* request */
/* line 281, ../scss/layout.scss */
#content .request th {
  padding-left: 15px;
  text-align: left;
}

/* line 282, ../scss/layout.scss */
#content .request th, td {
  border-bottom: solid 1px #E9E9E9;
  height: 40px;
}

/* give x */
/* line 285, ../scss/layout.scss */
#content.givex {
  font: 13px NanumGothic;
  color: #FAFAFA;
  letter-spacing: -1px;
}

/* line 286, ../scss/layout.scss */
#content.givex h3 {
  font: 16px NanumGothic;
  color: #C8C8C8;
  border: none;
  margin: 0px;
  padding: 10px 0px;
}

/* line 287, ../scss/layout.scss */
#content.givex p {
  font: 14px NanumGothic;
  color: white;
  letter-spacing: -1px;
  margin: 20px 0px 10px;
}

/* line 288, ../scss/layout.scss */
#content.givex .vows .portrait {
  width: 40px;
  height: 40px;
  margin-left: 30px;
  margin-right: 15px;
  float: left;
}

/* line 290, ../scss/layout.scss */
#comment .portrait {
  width: 64px;
  height: 64px;
}

/* line 291, ../scss/layout.scss */
#comment .commentCell {
  border-top: solid 1px gray;
  padding: 15px 0px;
}

/* line 292, ../scss/layout.scss */
#comment .replyCell {
  padding: 0px 0px 15px 50px;
  background: url(/images/common/icon_re.png) no-repeat 20px 30px;
}

/* line 293, ../scss/layout.scss */
.btn_delete {
  float: right;
  margin-left: 5px;
  cursor: pointer;
}

/* line 294, ../scss/layout.scss */
.btn_reply {
  float: right;
  cursor: pointer;
}

/* line 295, ../scss/layout.scss */
#comment #replybox {
  margin-top: 20px;
  display: none;
}

/* line 297, ../scss/layout.scss */
div.yearend table {
  width: 100%;
}

/* line 300, ../scss/layout.scss */
div.yearend table tr {
  border-top: 1px solid #c0c0c0;
}

/* line 303, ../scss/layout.scss */
div.yearend table tr td.top_row {
  background: linear-gradient(#ffffff, #dfdfdf);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff', endColorstr='#dfdfdf');
  font: 10pt NanumGothicBold;
  color: #747474;
}

/* line 309, ../scss/layout.scss */
div.yearend .grayborder {
  padding: 38px 53px;
  margin-top: 30px;
  border: 3px solid lightgray;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}

/* line 316, ../scss/layout.scss */
div.yearend .receipt_info li {
  float: left;
  width: 21%;
  border-bottom: 1px solid lightgray;
  height: 32px;
}

/* common */
/* line 324, ../scss/layout.scss */
.btn_login {
  cursor: pointer;
}

/* line 325, ../scss/layout.scss */
input.submit {
  margin: 30px 0px;
  outline: none;
  border: none;
  width: 150px;
  height: 40px;
  text-align: center;
  background-color: black;
  color: white;
  font: 12pt NanumGothic;
  cursor: pointer;
}

/* line 327, ../scss/layout.scss */
.postscript img {
  max-width: 100% !important;
}

/* misc.
------------------------------------------------------------------------- */
/* line 333, ../scss/layout.scss */
.hMiddle {
  font: 13px/30px NanumGothicBold;
  color: #222222;
  text-shadow: 0px 1px #BFBFBF;
}

/* line 335, ../scss/layout.scss */
.clickable {
  cursor: pointer;
}

/* line 337, ../scss/layout.scss */
.button_common {
  margin: 0px;
  outline: none;
  border: none;
  width: 100px;
  height: 30px;
  text-align: center;
  background-color: black;
  color: white;
  font: 10pt NanumGothic;
  cursor: pointer;
}

/* line 340, ../scss/layout.scss */
.blind {
  visibility: hidden;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  font-size: 0;
  line-height: 0;
}

/* line 343, ../scss/layout.scss */
.blur {
  outline: none;
}

/* line 345, ../scss/layout.scss */
.dropped {
  background-position: bottom !important;
}

/* line 348, ../scss/layout.scss */
.label {
  font: 8pt NanumGothic;
  color: #888888;
  text-align: center;
}

/* line 351, ../scss/layout.scss */
.ui-text-shadow, .ui-text-shadow-original {
  position: relative;
}

/* line 354, ../scss/layout.scss */
.ui-text-shadow-original {
  z-index: 1;
  text-shadow: none;
}

/* line 358, ../scss/layout.scss */
.ui-text-shadow-copy {
  position: absolute;
  z-index: 0;
  line-height: 110.74235%;
  /* fixes #9 */
  /* default positioning */
  left: 0;
  top: 0;
  zoom: 1;
  /* fixes #8 in IE7 and below */
  /* turn off shadow */
  text-shadow: none;
  /* turn off selection */
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

/* slides */
/* line 380, ../scss/layout.scss */
#slides {
  display: none;
  width: 700px;
  margin: 0px auto;
}

/* line 381, ../scss/layout.scss */
#slides .slidesjs-navigation {
  margin-top: 5px;
}

/* line 382, ../scss/layout.scss */
.slidesjs-pagination {
  margin: 7px 0 0;
  float: right;
  list-style: none;
}

/* line 383, ../scss/layout.scss */
.slidesjs-pagination li {
  float: left;
  margin: 0 1px;
}

/* line 384, ../scss/layout.scss */
.slidesjs-pagination li a {
  display: block;
  width: 13px;
  height: 0;
  padding-top: 13px;
  background-image: url(/images/slides/pagination.png);
  background-position: 0 0;
  float: left;
  overflow: hidden;
}

/* line 385, ../scss/layout.scss */
.slidesjs-pagination li a.active, .slidesjs-pagination li a:hover.active {
  background-position: 0 -13px;
}

/* line 386, ../scss/layout.scss */
.slidesjs-pagination li a:hover {
  background-position: 0 0;
}

/* line 387, ../scss/layout.scss */
.navbar {
  overflow: hidden;
}
