
h2 {font-family:NanumGothicBold;font-size:20px;color:black;border-bottom:2px solid red;padding-bottom:5px;text-shadow: 0px 1px #BFBFBFv;}

table {width:750px;margin:0 auto;}
th{text-align:center;background-color:rgb(247,247,247);}
td{text-align:left;padding-left:10px;}

.mail_container {width:800px;margin:0 auto;}
.mail_top{background-color:red;padding: 35px 0 17px;}
.mail_top e.top {font:27px NanumGothicBold;color:white;}
.mail_top e.bottom {font: 15px NanumGothicBold; color:white;}

#copyrightwrap #copyright {width:774px;}
