/* align */
.ar{text-align:right;}
.am{text-align:center;}
.vtop{vertical-align:top;}

/* display */
.dilb {display:inline-block;}

/* width */
.wdp100 {width:100%;}

.wd45 {width:45px;}
.wd53 {width:53px;}
.wd61 {width:61px;}
.wd83 {width:83px;}
.wd90 {width:90px;}
.wd250 {width:250px;}
.wd260 {width:260px;}
.wd500 {width:500px;}
.wd700 {width:700px;}

/* height */
.hei70 {height:70px;}
.hei160 {height:160px;}
.hei180 {height:180px;}
.hei300 {height:300px;}

/* margin */
.mt30 {margin-top:30px;}

.mr6{margin-right:6px;}
.mr8{margin-right:8px;}
.mr9 {margin-right:9px;}
.mr10 {margin-right:10px;}
.mr13 {margin-right:13px;}
.mr15 {margin-right:15px;}

.ml4 {margin-left:4px;}
.ml15 {margin-left:15px;}

.mb6 {margin-bottom:6px;}
.mb5 {margin-bottom:5px;}
.mb9 {margin-bottom:9px;}
.mb10 {margin-bottom:10px;}
.mb14 {margin-bottom:14px;}
.mb20 {margin-bottom:20px;}
.mb25 {margin-bottom:25px;}
.mb30 {margin-bottom:30px;}
.mb40 {margin-bottom:40px;}
.mb50 {margin-bottom:50px;}
.mb60 {margin-bottom:60px;}

.mtb30 {margin-top:30px;margin-bottom:30px;}

.mrl22 {margin-right:22px;margin-left:22px;}
/* padding */
.pl10 {padding-left:10px;}

.ptb10 {padding-top:10px;padding-bottom:10px;}
.ptb15 {padding-top:15px;padding-bottom:15px;}
.ptb18 {padding-top:18px;padding-bottom:18px;}
.ptb20 {padding-top:20px;padding-bottom:20px;}
.ptb25 {padding-top:25px;padding-bottom:25px;}
.ptb31 {padding-top:31px;padding-bottom:31px;}

.prl15 {padding-right:15px;padding-left:15px;}
.prl10 {padding-right:10px;padding-left:10px;}
.prl22 {padding-right:22px;padding-left:22px;}
.prl23 {padding-right:23px;padding-left:23px;}

.bglightgray {background-color:lightgray;}
.bgred {background-color:rgb(228,0,0);}
.bgbase {background-color:rgb(244,244,227)}
.lh33 {line-height:33px;}

/* font */
.ffb {font-family:NanumGothicBold;}
.ffexb {font-family:NanumGothicExtraBold;}
.fs12 {font-size:12px;}
.fs14 {font-size:14px;}
.fs16 {font-size:16px;}
.fs19 {font-size:19px;}
.fs20 {font-size:20px;}
.fs21 {font-size:21px;}
.fcwhite {color:white;}
.fcred {color:red;}
.fcblack {color:black;}

.lpm1 {letter-spacing:-1px;}
.lpm3 {letter-spacing:-3px;}


/* border */
.bdr0 {border:0;}
.bdr1 {border:1px solid black;}

/* tag */
hl {color:red;text-decoration:underline;}

body {margin: 0px; cursor: default; }
body, div, p {font-family:NanumGothic;font-size:10pt;color: #555555; }
img {border: 0px; }
p {margin: 0px; }
menu, ul {list-style: none; margin: 0px; padding: 0px; }
label {cursor: pointer; }
input, textarea {outline: none; resize: none; }
th {padding-left: 15px; text-align: left; }
th, td {border-bottom: solid 1px #E9E9E9; height: 40px; }
input.text {height: 18px; font-size:9pt; margin: 3px 0px; padding: 0px 3px; border: solid 1px #DDDDDD; }
textarea.text {font-size: 9pt; margin: 3px 0px; padding: 0px 3px; border: solid 1px #DDDDDD; }
select {font-size: 9pt; height: 22px; border: solid 1px #DDDDDD; }

e {display:block;}
/* links
------------------------------------------------------------------------- */

a {text-decoration: none; color: #555555; }
a:hover {text-decoration: none; color: #555555; }
a:focus {outline: none; }

a.red:hover {color: #E30000; }

