@import 'global';

#content {
   background-color:white;
   .content {
      background-image:url(/images/campaign/top_bg.png);
      @include background-size(100%, 489px);
      background-repeat:no-repeat;
      text-align:center;
      min-width:945px;
      padding-bottom:50px;
      .campaign_top {
         padding-top:60px;
         .tit_band {
            margin-top:20px;
         }
         .video {
            margin-top:50px;
            img {
               width:425px;

            }
         }
         .sns_share {
            position:relative;
            margin-top:25px;
            @include inline-block;
            .fb-wrapper {
               margin-right:3px;
               float:left;
            }
            .twit {
               float:left;
            }
            .fb_share {
               float:left;
               margin-left:-68px;
               margin-top:-2px;
            }
         }
         .sns_share:after,.sns_share:before {
            display:table;
            line-height:0;
            content:"";
            clear:both;
         }
         
      }
      .campaign_info {
         min-width:940px;
         width:940px;
         margin-top:40px;
         border-top:1px solid #ccc;
         @include inline-block;
         padding-top:25px;
         .tit {
            padding-left:18px;
         }
         .info {
            margin-top:-31px;
            .left, .right {
               padding-top:55px;
            }
            .left {
               float:left;
               padding-right:17px;
               border-right:2px dashed #ccc;
            }
            .right {
               float:right;
               padding-left:15px;
               .right_top {
                  width:443px;
                  margin:0 auto;
                  .gauge_cont {
                     margin-top:5px;
                  }

                  .donate_btn_cont {
                     text-align:right;
                     margin-top:25px;
                  }
                  
               }
               .right_bottom {
                  width:443px;
                  margin-top:17px;
                  img {width:100%;}
               }
            }
         }
         .info:before,.info:after {
            display:table;
            line-height:0;
            content:"";
            clear:both;
         }
      }
   }
}
