@import 'global';

#content {
   background-color:white;
   .content {
      background-image:url(/images/campaign/top_bg.png);
      background-size:100% 489px;
      background-repeat:no-repeat;
      text-align:center;
      min-width:945px;
      padding-bottom:50px;
      .donate_top {
         padding-top:60px;
         .tit {
            img {
               width:466px;
            }
         }
         .tit_band {
            margin-top:20px;
         }
         .meet_info {
            text-align:left;
            width:670px;
            margin:45px auto 0;
            .info {
               border:1px solid #777;
               background-color:rgba(247,247,247,0.9);
               padding:30px 37px 25px;
               h1 {
                  font:16px $bold;
                  border-bottom:2px solid #ccc;
                  padding-bottom:5px;
               }
               .detail {
                  font:14px $bold;
                  line-height:35px;
                  padding:14px 0 18px 17px;
                  hl {
                     color:inherit;
                     display:block;
                     margin-top:-12px;
                     margin-left:14px;
                     text-decoration:none;
                  }
               }
               .add {
                  font:13px $bold;
                  border-top:1px solid #ccc;
                  padding-top:10px;
                  padding-left:5px;
                  line-height:20px;
                  hl {
                     color:#ffad00;
                     text-decoration:none;
                  }
               }
            }
         }
      }

      .donate_info {
         margin-top:30px;
         h1 {
            text-align:left;
            font:16px $bold;
            border-bottom:1px solid black;
            padding-bottom:5px;
         }
         .left, .right {
            @include inline-block;
         }
         table {width:100%;}

         .left {
            width:360px;
            text-align:left;
            padding-right:60px;
            border-right:2px dashed #ccc;
            padding-top:20px;
            .ticket {
               table {
                  border-collapse:collapse;
                  margin-top:6px;
                  text-align:right;
                  font-size:14px;
                  td {
                     padding:0 13px 3px 0;
                  }
                  .bot_row td {
                     border-top:2px solid black;
                     font-family:$ebold;
                  }
               }
            }
            .payment {
               margin-top:80px;
               table {
                  font-size:14px;
                  text-align:left;
                  margin-top:10px;
                  td {
                     width:50%;
                     padding-left:12px;
                     label {
                        cursor:pointer;
                     }
                     input[type='radio'] {
                        margin-right:5px;
                     }
                  }
               }
            }
         }

         .right {
            width:360px;
            padding-top:20px;
            margin-left:60px;
            .mb_info {
               table {
                  font-size:14px;
                  text-align:left;
                  margin-top:15px;
                  .left_col {
                     width:120px;
                  }
               }
               .input1 {
                  font-size:14px;
                  padding:6px 9px;
               }
               #addr {
                  line-height:35px;
                  .input1 {margin:4px 0;}
               }
               input[name='od_hp1'], input[name='od_hp2'],
               input[name='od_hp3'], input[name='od_zip1'],
               input[name='od_zip2'] {
                  width:55px;
               }
            }
         }
      }
      .donate_btn {
         margin-top:35px;
         text-align:right;
         .btn_cont {
            @include orange-btn(194px);
            font:18px $bold;
         }
         .btn_cont:hover {
            @include orange-btn-hover;
         }
         .btn_cont:active {
            @include orange-btn_active;
         }
      }
   }
}

.ac_caution {
   line-height:18px;
   div {
      color:black;
   }
   .ac_bot {
      margin-top:20px;
   }
}
#pluginLayer {width: 400px; height: 300px; text-align: center; color: #FAFAFA; display: none; }
#pluginLayer p {font: 13px $bold; color: white; margin-bottom: 30px;z-index:1; }



