@import 'global';
#content {
   background-color:white;
   .content {
      background-image:url(/images/campaign/top_bg.png);
      background-size:100% 489px;
      background-repeat:no-repeat;
      text-align:center;
      min-width:945px;
      padding-bottom:130px;
      .donate_top {
         padding-top:60px;
         .tit {
            img {
               width:466px;
            }
         }
         .tit_band {
            margin-top:20px;
         }
         .donated_info {
            text-align:left;
            width:670px;
            margin:45px auto 0;
            .info {
               border:1px solid #777;
               background-color:rgba(247,247,247,0.9);
               padding:30px 37px 25px;
               h1 {
                  text-align:center;
                  font:24px $bold;
                  border-bottom:2px solid #c9c9c9;
                  padding-bottom:25px;
               }
               .detail {
                  font:14px $bold;
                  width:483px;
                  border-collapse:collapse;
                  margin:12px auto;
                  tr {
                     border-bottom:1px solid #ccc;
                     td {
                        height:45px;
                     }
                  }
                  tr.last {
                     border-bottom:0;
                  }
                  strong {
                     font-family:$ebold;
                  }
                  .btn_cont {
                     margin-left:10px;
                  }
               }
            }

         }
         .bottom {
            margin-top:30px;
            .caution {
               color:red;
               font-size:14px;
               font-family:$bold;
               line-height:23px;
            }
            .btn_cont {
               margin-top:35px;
            }
         }
      }
   }
}
