@import 'global';
#content {
   background-color:#f5f5f5;
   padding:50px 0 60px;
   .content {
      .boards {
         width:950px;
         margin:0 auto;
         .notice, .nanum {
            .title {
               margin-bottom:20px;
            }
            .list {
               .head {
                  width:100%;
                  text-align:center;
                  font:14px $bold;
                  border-top:2px solid black;
                  border-bottom:1px solid black;
                  .no {width:80px;}
                  .datetime {
                     width:140px;
                  }
                  td {
                     height:32px;
                  }
               }
               .no {width:80px;}
               .datetime {
                  width:140px;
               }
               .slides {
                  min-height:480px;
                  overflow:hidden;
                  position:relative;
                  .items {
                     position:absolute;
                     width:10000px;
                     div {
                        float:left;
                        margin-right:20px;
                        .page {
                           width:445px;
                           text-align:center;
                           font-size:13px;
                           border-collapse:collapse;
                           tr {
                              cursor:pointer;
                              border-bottom:1px solid #ccc;

                           }
                           .title {
                              text-align:left;
                           }
                        }
                     }
                  }
               }
               .paging {
                  text-align:center;
                  font-size:12px;
                  margin-top:20px;
                  span {
                     cursor:pointer;
                  }
                  .arrow {
                     color:#aaa;
                     font-family:$ebold;
                  }
                  .now {
                     font-family:$bold;
                     color:$menu-selected;
                     font-size:13px;
                  }
               }
            }
            .view {
               display:none;
               .ctt {
                  width:100%;
                  text-align:left;
                  font:14px $bold;
                  .board_title {
                     padding-left:8px;
                     border-top:2px solid black;
                  }
                  .board_time {
                     border-top:1px solid black;
                     text-align:right;
                  }
                  .board_content {
                     p {
                        line-height:20px;
                        margin-top:5px;
                        font-size:14px;
                        img {
                           height:auto;
                           width:auto;
                           width:100%;
                        }
                     }
                     font-size:14px;

                  }
               }
               .cont {
                  text-align:right;
                  display:block;
                  .btn_cont {
                     margin-top:20px;
                     .list_btn {
                        @include orange-btn(80px);
                        background-color:black;
                        color:white;
                     }
                  }
               }
            }
         }
         .notice {
            float:left;
            width:450px;
            min-height:500px;
            padding-right:25px;
            border-right:1px solid #ccc;
         }
         .nanum {
            float:left;
            width:450px;
            margin-left:20px;

         }
      }
      .boards:before, .boards:after {
         display:table;
         content:"";
         line-height:0;
         clear:both;
      }
   }
}
