/* basic elements
------------------------------------------------------------------------- */
/* line 6, ../../scss/m/layout.scss */
table {
  padding: 0;
  border: 0;
}

/* line 9, ../../scss/m/layout.scss */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* links
------------------------------------------------------------------------- */
/* line 16, ../../scss/m/layout.scss */
a {
  text-decoration: none;
  color: #555555;
}

/* line 21, ../../scss/m/layout.scss */
a:hover {
  text-decoration: none;
  color: #555555;
}

/* line 26, ../../scss/m/layout.scss */
a:focus {
  outline: none;
}

/* line 30, ../../scss/m/layout.scss */
a.red:hover {
  color: #E30000;
}

/* skelectal
------------------------------------------------------------------------- */
/* line 36, ../../scss/m/layout.scss */
.close {
  position: absolute;
  top: 5px;
  right: 5px;
  text-align: right;
  font: bold 20px/18px Tahoma,sans-serif;
  color: black;
  text-shadow: 0 1px 0 #ffffff;
  opacity: 0.2;
  filter: alpha(opacity=20);
  cursor: pointer;
}

/* line 69, ../scss/layout.scss */
/* line 50, ../../scss/m/layout.scss */
.close:hover {
  opacity: 0.4;
  filter: alpha(opacity=40);
}

/* line 54, ../../scss/m/layout.scss */
.clickable {
  cursor: pointer;
}

/* line 55, ../../scss/m/layout.scss */
.label {
  color: #888;
}

/* line 59, ../../scss/m/layout.scss */
#header {
  height: 40px;
  position: relative;
  padding: 13px 10px;
}

/* line 65, ../../scss/m/layout.scss */
#header .left {
  float: left;
  width: 40%;
}

/* line 70, ../../scss/m/layout.scss */
#header .left .bottom_logo {
  color: #C80001;
  font-size: 9px;
  float: left;
  margin-left: 3px;
  margin-top: 2px;
}

/* line 78, ../../scss/m/layout.scss */
#header .right {
  float: right;
  font-size: 11px;
  margin-top: 10px;
}

/* line 84, ../../scss/m/layout.scss */
#content {
  text-align: center;
  width: 100%;
}

/* line 89, ../../scss/m/layout.scss */
.layer {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 10;
  background: url(/images/common/overlay.png);
  overflow: hidden;
}

/* line 39, ../scss/layout.scss */
/* line 101, ../../scss/m/layout.scss */
.centering {
  position: absolute;
  top: 50%;
  left: 50%;
}

/* ---- campaign_detail ---- */
/* .top */
/* line 111, ../../scss/m/layout.scss */
.campaign_detail .top {
  width: 100%;
  border-top: solid 2px #393939;
  border-bottom: solid 2px #393939;
  padding: 10px 0;
  position: absolute;
  top: 66px;
  z-index: 3;
}

/* line 121, ../../scss/m/layout.scss */
.campaign_detail .top .direction {
  font-size: 25px;
  font-weight: bold;
  background-color: #555;
  color: white;
  width: 23px;
  height: 32px;
}

/* line 130, ../../scss/m/layout.scss */
.campaign_detail .top .direction.left {
  float: left;
  margin-left: 12px;
}

/* line 135, ../../scss/m/layout.scss */
.campaign_detail .top .direction.right {
  float: right;
  margin-right: 12px;
}

/* .content */
/* line 141, ../../scss/m/layout.scss */
.campaign_detail .content {
  width: 95%;
  margin: 0 auto;
  z-index: 1;
}

/* line 147, ../../scss/m/layout.scss */
.campaign_detail .content .content_unit {
  margin-top: 10px;
}

/* line 151, ../../scss/m/layout.scss */
.campaign_detail .content .content_unit.bottom {
  margin-top: 10px;
  margin-bottom: 30px;
}

/* line 156, ../../scss/m/layout.scss */
.campaign_detail .content .content_unit.title {
  width: 80%;
  height: 45px;
  margin: 13px auto 10px;
  font-size: 13px;
  font-weight: bold;
}

/* line 164, ../../scss/m/layout.scss */
.campaign_detail .content .content_unit .gauge_layout {
  background-color: #F4F4E3;
  border: solid 2px #AFAFAF;
  padding: 10px;
}

/* line 170, ../../scss/m/layout.scss */
.campaign_detail .content .content_unit .gauge_layout h3 {
  margin: 0px;
  border: none;
  text-align: left;
}

/* line 176, ../../scss/m/layout.scss */
.campaign_detail .content .menu {
  height: 30px;
  border-bottom: solid 2px #E30000;
}

/* line 181, ../../scss/m/layout.scss */
.campaign_detail .content .menu ul li {
  float: left;
  width: 33%;
  background-color: #5F5F5F;
  text-align: center;
  color: #EAEAEA;
  padding: 6px 0;
  font-size: 12px;
  font-weight: bold;
}

/* line 192, ../../scss/m/layout.scss */
.campaign_detail .content .menu li.line {
  border-right: solid 1px #373737;
}

/* line 196, ../../scss/m/layout.scss */
.campaign_detail .content .menu li.selected {
  background-color: #373737;
}

/* line 201, ../../scss/m/layout.scss */
.campaign_detail .content .menu_swipe_1 table,
.campaign_detail .content .menu_swipe_2 table {
  width: 100%;
  text-align: left;
}

/* line 207, ../../scss/m/layout.scss */
.campaign_detail .content .menu_swipe_1 table .nothing,
.campaign_detail .content .menu_swipe_2 table .nothing {
  height: 250px;
  text-align: center;
}

/* line 213, ../../scss/m/layout.scss */
.campaign_detail .content .menu_swipe_1 .title,
.campaign_detail .content .menu_swipe_2 .title {
  font: 14px NanumGothicBold;
  padding-left: 7px;
}

/* line 219, ../../scss/m/layout.scss */
.campaign_detail .content .menu_swipe_1 .date,
.campaign_detail .content .menu_swipe_2 .date {
  width: 70px;
  text-align: right;
  font: 12px Arial;
}

/* line 226, ../../scss/m/layout.scss */
.campaign_detail .content .menu_swipe_1 table p img,
.campaign_detail .content .menu_swipe_2 table p img {
  width: 100%;
}

/* line 230, ../../scss/m/layout.scss */
.campaign_detail .content .donate_btn {
  width: 100%;
}

/* color */
/* font */
/* line 3, ../../scss/m/_auction.scss */
.auc_det_outer {
  margin: 23px 0;
  text-align: left;
}
/* line 6, ../../scss/m/_auction.scss */
.auc_det_outer .right_corner {
  position: absolute;
  top: 4px;
  left: 11px;
  font-size: 13px;
  font-family: NanumGothicBold;
}
/* line 13, ../../scss/m/_auction.scss */
.auc_det_outer .content {
  background-color: #f4f4e3;
  padding: 20px 0;
}
/* line 16, ../../scss/m/_auction.scss */
.auc_det_outer .content .content2 {
  padding: 0 24px;
}
/* line 19, ../../scss/m/_auction.scss */
.auc_det_outer .content .content_title {
  font: 19px NanumGothicExBold;
  color: black;
  margin-bottom: 18px;
}
/* line 25, ../../scss/m/_auction.scss */
.auc_det_outer .content .content_left {
  margin-bottom: 17px;
}
/* line 27, ../../scss/m/_auction.scss */
.auc_det_outer .content .content_left .img {
  border: solid 1px black;
  width: 100%;
  height: 190px;
}
/* line 34, ../../scss/m/_auction.scss */
.auc_det_outer .content .content_right ._1 {
  margin-bottom: 24px;
}
/* line 36, ../../scss/m/_auction.scss */
.auc_det_outer .content .content_right ._1 ._1_left, .auc_det_outer .content .content_right ._1 ._1_right {
  display: inline-block;
  vertical-align: top;
}
/* line 40, ../../scss/m/_auction.scss */
.auc_det_outer .content .content_right ._1 ._1_left {
  margin-right: 10px;
}
/* line 42, ../../scss/m/_auction.scss */
.auc_det_outer .content .content_right ._1 ._1_left img {
  width: 45px;
  margin-left: 4px;
}
/* line 48, ../../scss/m/_auction.scss */
.auc_det_outer .content .content_right ._1 ._1_right ._1_right_tit {
  font: 14px NanumGothicBold;
  color: black;
  margin-bottom: 7px;
}
/* line 53, ../../scss/m/_auction.scss */
.auc_det_outer .content .content_right ._1 ._1_right ._1_right_ctt {
  font: 20px NanumGothicBold;
  color: black;
  letter-spacing: -3px;
}
/* line 60, ../../scss/m/_auction.scss */
.auc_det_outer .content .content_right ._2 {
  margin-bottom: 16px;
}
/* line 62, ../../scss/m/_auction.scss */
.auc_det_outer .content .content_right ._2 ._2_left, .auc_det_outer .content .content_right ._2 ._2_right {
  display: inline-block;
  vertical-align: top;
}
/* line 66, ../../scss/m/_auction.scss */
.auc_det_outer .content .content_right ._2 ._2_left {
  margin-right: 6px;
}
/* line 70, ../../scss/m/_auction.scss */
.auc_det_outer .content .content_right ._2 ._2_right ._2_right_tit {
  font: 14px NanumGothicBold;
  color: black;
  margin-bottom: 6px;
}
/* line 75, ../../scss/m/_auction.scss */
.auc_det_outer .content .content_right ._2 ._2_right ._2_right_ctt {
  font: 20px NanumGothicBold;
  color: black;
  letter-spacing: -1px;
}
/* line 82, ../../scss/m/_auction.scss */
.auc_det_outer .content .content_right ._3 {
  cursor: pointer;
}
/* line 84, ../../scss/m/_auction.scss */
.auc_det_outer .content .content_right ._3 img {
  width: 100%;
}

/* line 92, ../../scss/m/_auction.scss */
.auc_pop_outer {
  display: none;
  border: 2px solid #cccccc;
  width: 95%;
  padding: 10px 6px;
  background-color: white;
  position: absolute;
  top: 8px;
  left: 0;
}
/* line 101, ../../scss/m/_auction.scss */
.auc_pop_outer .close {
  position: absolute;
  right: 14px;
  top: 20px;
  font-size: 34px;
  cursor: pointer;
}
/* line 108, ../../scss/m/_auction.scss */
.auc_pop_outer .content {
  width: auto;
}
/* line 112, ../../scss/m/_auction.scss */
.auc_pop_outer .content_tit {
  background-color: #f4f4e3;
  font: 18px NanumGothicExBold;
  text-align: center;
  padding: 12px 0;
  margin-bottom: 20px;
}
/* line 120, ../../scss/m/_auction.scss */
.auc_pop_outer .content_info {
  text-align: left;
  margin-bottom: 5px;
  padding-left: 11px;
}
/* line 124, ../../scss/m/_auction.scss */
.auc_pop_outer .content_info .info_left {
  width: 250px;
  height: 180px;
  margin-bottom: 11px;
}
/* line 130, ../../scss/m/_auction.scss */
.auc_pop_outer .content_info .info_right ._1 {
  margin-bottom: 14px;
}
/* line 132, ../../scss/m/_auction.scss */
.auc_pop_outer .content_info .info_right ._1 ._1_left, .auc_pop_outer .content_info .info_right ._1 ._1_right {
  display: inline-block;
  vertical-align: top;
}
/* line 136, ../../scss/m/_auction.scss */
.auc_pop_outer .content_info .info_right ._1 ._1_left {
  margin-right: 10px;
}
/* line 138, ../../scss/m/_auction.scss */
.auc_pop_outer .content_info .info_right ._1 ._1_left img {
  width: 45px;
  margin-left: 4px;
}
/* line 144, ../../scss/m/_auction.scss */
.auc_pop_outer .content_info .info_right ._1 ._1_right ._1_right_tit {
  font: 14px NanumGothicBold;
  color: black;
  margin-bottom: 7px;
}
/* line 149, ../../scss/m/_auction.scss */
.auc_pop_outer .content_info .info_right ._1 ._1_right ._1_right_ctt {
  font: 20px NanumGothicBold;
  color: black;
  letter-spacing: -3px;
}
/* line 156, ../../scss/m/_auction.scss */
.auc_pop_outer .content_info .info_right ._2 {
  line-height: 18px;
  margin-bottom: 9px;
  font-family: NanumGothicBold;
  font-size: 12px;
}
/* line 161, ../../scss/m/_auction.scss */
.auc_pop_outer .content_info .info_right ._2 .red {
  color: #e40000;
  font-family: NanumGothicExBold;
}
/* line 165, ../../scss/m/_auction.scss */
.auc_pop_outer .content_info .info_right ._2 .desc {
  font-size: 13px;
  font-family: NanumGothicExBold;
}
/* line 173, ../../scss/m/_auction.scss */
.auc_pop_outer .content_bid {
  border: 3px solid #facccc;
  height: 130px;
  margin-bottom: 15px;
  overflow-y: auto;
}
/* line 179, ../../scss/m/_auction.scss */
.auc_pop_outer .content_bid table.list {
  border: 0;
  border-spacing: 10px 0;
  border-collapse: separate;
  width: 100%;
  margin: 0 auto;
  font-family: NanumGothicBold;
  color: black;
}
/* line 187, ../../scss/m/_auction.scss */
.auc_pop_outer .content_bid table.list td {
  text-align: center;
  border: 0;
  height: 28px;
}
/* line 192, ../../scss/m/_auction.scss */
.auc_pop_outer .content_bid table.list .rank {
  width: 24px;
}
/* line 195, ../../scss/m/_auction.scss */
.auc_pop_outer .content_bid table.list .amount {
  width: 61px;
}
/* line 199, ../../scss/m/_auction.scss */
.auc_pop_outer .content_bid table.list .top_row td {
  border-bottom: 1px solid #aaaaaa;
  margin-right: 18px;
}
/* line 207, ../../scss/m/_auction.scss */
.auc_pop_outer .content_mb {
  text-align: left;
  background-color: #f4f4e3;
  padding: 3px 8px;
  margin-bottom: 12px;
}
/* line 212, ../../scss/m/_auction.scss */
.auc_pop_outer .content_mb .mb_info {
  border: 0;
}
/* line 214, ../../scss/m/_auction.scss */
.auc_pop_outer .content_mb .mb_info th, .auc_pop_outer .content_mb .mb_info td {
  border: 0;
  color: black;
}
/* line 218, ../../scss/m/_auction.scss */
.auc_pop_outer .content_mb .mb_info th {
  font-size: 13px;
  padding: 0;
  padding-right: 9px;
  font-family: NanumGothicBold;
}
/* line 227, ../../scss/m/_auction.scss */
.auc_pop_outer .content_input {
  text-align: right;
}
/* line 229, ../../scss/m/_auction.scss */
.auc_pop_outer .content_input .input_mny, .auc_pop_outer .content_input .bid_btn, .auc_pop_outer .content_input .won {
  display: inline-block;
  vertical-align: top;
}
/* line 233, ../../scss/m/_auction.scss */
.auc_pop_outer .content_input .input_mny {
  margin-right: 2px;
}
/* line 234, ../../scss/m/_auction.scss */
.auc_pop_outer .content_input .input_mny span {
  margin-right: 5px;
  font: 18px NanumGothicExBold;
}
/* line 238, ../../scss/m/_auction.scss */
.auc_pop_outer .content_input .input_mny input {
  height: 26px;
  width: 70px;
  text-align: right;
  border-color: #9D9D9D;
}
/* line 246, ../../scss/m/_auction.scss */
.auc_pop_outer .content_input .bid_btn {
  cursor: pointer;
}
/* line 249, ../../scss/m/_auction.scss */
.auc_pop_outer .content_input .won {
  font-family: NanumGothicExBold;
  font-size: 18px;
  padding-top: 5px;
  margin-right: 8px;
}

/* line 259, ../../scss/m/_auction.scss */
input[name="mb_hp1"] {
  width: 30px;
}

/* line 262, ../../scss/m/_auction.scss */
input[name="mb_hp2"] {
  width: 30px;
}

/* line 265, ../../scss/m/_auction.scss */
input[name="mb_hp3"] {
  width: 30px;
}

/* swipe */
/* line 237, ../../scss/m/layout.scss */
.swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative;
}

/* line 243, ../../scss/m/layout.scss */
.swipe-wrap {
  overflow: hidden;
  position: relative;
}

/* line 248, ../../scss/m/layout.scss */
.swipe-wrap > div {
  float: left;
  width: 100%;
  position: relative;
}

/* gauge(common) */
/* line 255, ../../scss/m/layout.scss */
.gauge {
  position: relative;
  margin-top: 12px;
  margin-bottom: 4px;
  width: 100%;
  height: 18px;
  background-color: white;
  border: solid 1px #C6C6C5;
  text-align: right;
  color: #E30000;
}

/* line 267, ../../scss/m/layout.scss */
.progress {
  float: left;
  background-color: #E30000;
  height: 100%;
}

/* line 273, ../../scss/m/layout.scss */
.progressToday {
  float: right;
  background-color: #E02020;
  height: 100%;
}

/* line 278, ../../scss/m/layout.scss */
.cam_school {
  height: 50px;
  position: absolute;
  right: -19px;
  top: -18px;
}

/* line 279, ../../scss/m/layout.scss */
.cam_school.end {
  height: 50px;
  position: absolute;
  right: -13px;
  top: -23px;
}

/* line 281, ../../scss/m/layout.scss */
.percent {
  position: absolute;
  right: 2px;
  font: bold 12px/18px Arial;
  color: #E30000;
}

/* line 288, ../../scss/m/layout.scss */
.funded {
  font: bold 9pt Arial, NanumGothic;
  float: left;
}

/* line 293, ../../scss/m/layout.scss */
.targeted {
  float: right;
  font: bold 9pt Arial, NanumGothic;
}

/* login */
/* line 300, ../../scss/m/layout.scss */
.login_m {
  width: 90%;
  margin: 0 auto;
}

/* line 305, ../../scss/m/layout.scss */
.login_m .title {
  font-size: 20px;
  font-weight: bold;
}

/* line 309, ../../scss/m/layout.scss */
.login_m .info_input {
  width: 100%;
  padding: 20px 0;
  margin: 0 auto;
}

/* line 315, ../../scss/m/layout.scss */
.login_m .info_input table {
  width: 100%;
  padding: 10px;
  border: 2px solid #c0c0c0;
}

/* line 321, ../../scss/m/layout.scss */
.login_m .info_input table td {
  border: none;
}

/* line 325, ../../scss/m/layout.scss */
.login_m .info_input table .textbox {
  width: 100%;
  height: 24px;
  background-color: #F3F4E4;
  border: solid 1px #383838;
  font: 11px NanumGothic;
  padding: 3px 0 3px 7px;
}

/* line 334, ../../scss/m/layout.scss */
.login_m .info_input table .login_btn {
  width: 75px;
  padding-left: 6%;
}

/* line 339, ../../scss/m/layout.scss */
.login_m .info_input table .login_btn input {
  width: 100%;
}

/* line 343, ../../scss/m/layout.scss */
.login_m .facebook_btn {
  height: 55px;
  margin: 30px auto;
  background-color: #00549D;
  padding-top: 9px;
}

/* line 350, ../../scss/m/layout.scss */
.login_m .register_btn {
  height: 55px;
  margin: 30px auto;
  background-image: url(/images/m/bg_register.png);
  border: solid 2px #E30000;
}

/* line 357, ../../scss/m/layout.scss */
.login_m .bottom {
  margin: 30px 0;
}

/* donate */
/* line 363, ../../scss/m/layout.scss */
.donate_m {
  width: 95%;
  margin: 0 auto;
}

/* line 368, ../../scss/m/layout.scss */
.donate_m input {
  padding: 2px;
  font: 12px NanumGothic;
}

/* line 374, ../../scss/m/layout.scss */
.donate_m .title {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 15px;
}

/* line 378, ../../scss/m/layout.scss */
.donate_m h4 {
  border-bottom: solid 4px black;
  margin: 10px 0 0 0;
  text-align: left;
  padding: 7px;
}

/* line 382, ../../scss/m/layout.scss */
.donate_m table {
  text-align: left;
  width: 100%;
}

/* line 388, ../../scss/m/layout.scss */
.donate_m .account_info .left_col,
.donate_m .reward_req .left_col,
.donate_m .receipt .left_col {
  width: 29%;
  padding-left: 2%;
  font: 11px NanumGothicBold;
  background: linear-gradient(#ffffff, #f3f3f3);
}

/* line 397, ../../scss/m/layout.scss */
.donate_m .account_info .right_col,
.donate_m .reward_req .right_col,
.donate_m .receipt .right_col {
  padding-left: 4%;
}

/* line 401, ../../scss/m/layout.scss */
.donate_m .donate_price .left_col {
  width: 17%;
  padding-left: 7%;
  border-right: solid 1px #E9E9E9;
}

/* line 407, ../../scss/m/layout.scss */
.donate_m .donate_price .right_col {
  padding-left: 7%;
}

/* line 411, ../../scss/m/layout.scss */
.donate_m .donate_price .right_col .left {
  margin: 2%;
  float: left;
}

/* line 416, ../../scss/m/layout.scss */
.donate_m .donate_price .right_col .right {
  float: left;
}

/* line 420, ../../scss/m/layout.scss */
.donate_m .donate_price .right_col .user_input {
  width: 50%;
  text-align: right;
}

/* line 425, ../../scss/m/layout.scss */
.donate_m li {
  line-height: 40px;
  padding-left: 4%;
  border-bottom: solid 1px #E9E9E9;
  text-align: left;
}

/* line 432, ../../scss/m/layout.scss */
.donate_m .additional {
  text-align: left;
  margin: 10px;
}

/* line 437, ../../scss/m/layout.scss */
.donate_m .additional p {
  font-size: 11px;
  line-height: 18px;
  margin-top: 10px;
  text-align: justify;
}

/* line 444, ../../scss/m/layout.scss */
.donate_m .receipt li {
  text-align: center;
  width: 33%;
  float: left;
  padding: 0;
}

/* line 451, ../../scss/m/layout.scss */
.donate_m .submit {
  margin: 20px 0px;
  padding: 10px 0;
  outline: none;
  border: none;
  width: 50%;
  text-align: center;
  background-color: black;
  color: white;
  font: 16px NanumGothic;
  cursor: pointer;
}

/* tail */
/* line 466, ../../scss/m/layout.scss */
#footer menu li {
  float: left;
  height: 27px;
  font: 9px NanumGothicBold;
  padding: 0px 4px;
}

/* line 467, ../../scss/m/layout.scss */
#footerwrap {
  clear: both;
  width: 100%;
  text-align: center;
  background-color: #F4F4E3;
}

/* line 469, ../../scss/m/layout.scss */
#footerwrap #footer {
  width: 95%;
  margin: 0px auto;
  text-align: left;
  background-color: #F4F4E3;
  padding-top: 4px;
}

/* line 472, ../../scss/m/layout.scss */
#footer .sns_set {
  float: right;
  margin-top: 3px;
}

/* line 476, ../../scss/m/layout.scss */
#footer menu {
  margin-top: 10px;
}

/* line 480, ../../scss/m/layout.scss */
#copyrightwrap {
  width: 100%;
  text-align: center;
  background-color: #373737;
}

/* line 481, ../../scss/m/layout.scss */
#copyrightwrap #copyright {
  width: 95%;
  text-align: left;
  margin: 0px auto;
  padding: 10px 0 5px 0;
  font: 8px NanumGothic;
  color: #B9B9B9;
}

/* line 482, ../../scss/m/layout.scss */
#copyrightwrap #copyright .copy_img {
  width: 20%;
  height: 60px;
  float: left;
  margin-right: 10px;
  margin-top: 10px;
}
table.kara_ticket {
   width:100%;
   text-align:right;
   font-size:14px;
}
table.kara_ticket td {
   padding:0 13px 3px 0;
}


@import 'newmain';
