@import 'wegen_var';

.auc_det_outer {
   margin:30px 22px 0;
   position:relative;
   .right_corner {
      position:absolute;
      top:7px;
      right:8px;
      font-size:13px;
      font-family:$bold-st;
   }
   .content {
      background-color:$beige-color;
      padding:25px 23px;
      .content_title {
         font:19px $ebold-st;
         color:black;
         margin-bottom:25px;
      }

      .content_left {
         margin-right:15px;
         width:250px;
         height:180px;
         img {
            width:250px;
            height:180px;
         }
      }
      .content_right {
         ._1 {
            margin-bottom:24px;
            ._1_left, ._1_right {
               display:inline-block;
               vertical-align:top;
            }
            ._1_left {
               margin-right:10px;
               img {
                  width:45px;
                  margin-left:4px;
               }
            }
            ._1_right {
               ._1_right_tit {
                  font:14px $bold-st;
                  color:black;
                  margin-bottom:7px;
               }
               ._1_right_ctt {
                  font:20px $bold-st;
                  color:black;
                  letter-spacing:-3px;
               }
            }
         }
         ._2 {
            margin-bottom:16px;
            ._2_left, ._2_right {
               display:inline-block;
               vertical-align:top;
            }
            ._2_left {
               margin-right:6px;
            }
            ._2_right {
               ._2_right_tit {
                  font:14px $bold-st;
                  color:black;
                  margin-bottom:6px;
               }
               ._2_right_ctt {
                  font:20px $bold-st;
                  color:black;
                  letter-spacing:-1px;
               }
            }
         }
         ._3 {
            cursor:pointer;
            img {
               width:100%;
            }
         }
         .auc_layout_open {
            cursor:pointer;
         }
      }
      .content_left, .content_right {
         float:left;
         vertical-align:top;
      }
      .content_cont:before, .content_cont:after {
         display:block;
         content:"";
         clear:both;
      }
      
   }
}

.auc_pop_outer {
   display:none;
   border:2px solid $lgray-color;
   width:650px;
   z-index:3;
   padding:0 49px 0 30px;
   background-color:white;
   position:relative;
   max-height:733px;
   overflow-y:auto;
   .close {
      position:absolute;
      right:15px;
      top:13px;
      color:black;
      font-size:34px;
      cursor:pointer;
   }
   .content {
      width:650px;
      margin:25px 0;
   }

   .content_tit {
      background-color:$beige-color;
      font:20px $ebold-st;
      text-align:center;
      padding:12px 0;
      margin-bottom:20px;
   }

   .content_info:before, .content_info:after {
      display:block;
      content:"";
      clear:both;
   }
   .content_info {
      margin-bottom:25px;
      padding:0 25px;
      .info_left, .info_right {
         vertical-align:top;
      }
      .info_left {
         float:left;
         margin-right:30px;
         width:250px;
         height:180px;
         img {
            width:250px;
            height:180px;
         }
      }
      .info_right {
         float:right;
         width:300px;
         height:180px;
         overflow-y:auto;
         padding-right:10px;
         ._1 {
            margin-bottom:14px;
            ._1_left, ._1_right {
               display:inline-block;
               vertical-align:top;
            }
            ._1_left {
               margin-right:10px;
               img {
                  width:45px;
                  margin-left:4px;
               }
            }
            ._1_right {
               ._1_right_tit {
                  font:14px $bold-st;
                  color:black;
                  margin-bottom:7px;
               }
               ._1_right_ctt {
                  font:20px $bold-st;
                  color:black;
                  letter-spacing:-3px;
               }
            }
         }
         ._2 {
            line-height:18px;
            margin-bottom:9px;
            font-family:$bold-st;
            font-size:12px;
            .red {
               color:$red-color;
               font-family:$ebold-st;
            }
            .desc {
               font-size:13px;
               font-family:$ebold-st;
            }
         }
      }
   }

   .content_bid {
      border:3px solid $lpink-color; 
      height:130px;
      margin-bottom:15px;
      overflow-y:auto;

      table.list {
         border:0;
         border-spacing:18px 0;
         border-collapse:separate;
         width:100%;
         margin:0 auto;
         font-family:$bold-st;
         color:black;
         tr[data-chkme] {
            color:red;
         }
         td {
            text-align:center;
            border:0;
            height:28px;
         }

         .top_row {
            td {
               border-bottom:1px solid $l2gray-color; 
               margin-right:18px;
            }
         }
      }
   }

   .content_mb {
      background-color:$beige-color;
      padding:8px 20px;
      margin-bottom:20px;
      .mb_info {
         border:0;
         th, td {
            border:0;
            color:black;
         }
         th {
            font-size:13px;
            padding:0;
            padding-right:9px;
            font-family:$ebold-st;
         }
      }
   }

   .content_input:before,.content_input:after {
      display:block;
      content:"";
      clear:both;

   }
   .content_input {
      text-align:right;
      .input_mny, .bid_btn,.won, .btn_login {
         float:right;
         vertical-align:top;
      }
      .input_mny {
         padding-top:3px;
         span {
            margin-right:5px;
            font:18px $ebold-st;
         }
         input {
            height:26px;
            width:127px;
            text-align:right;
            border-color:#9B9B9B;
         }
         margin-right:2px;
      }
      .bid_btn {
         cursor:pointer;
      }
      .won {
         font-family:$ebold-st;
         font-size:18px;
         padding-top:7px;
         margin-right:8px;
      }
   }

}

input[name="mb_hp1"] {
   width:30px;
}
input[name="mb_hp2"] {
   width:30px;
}
input[name="mb_hp3"] {
   width:30px;
}
