@mixin border-radius($radius) {
   -webkit-border-radius: $radius;
   -moz-border-radius: $radius;
   -ms-border-radius: $radius;
   border-radius: $radius;
}
@mixin border-bottom-left-radius($radius) {
   -webkit-border-bottom-left-radius: $radius;
   -moz-border-bottom-left-radius: $radius;
   -ms-border-bottom-left-radius: $radius;
   border-bottom-left-radius: $radius;
}
@mixin border-bottom-right-radius($radius) {
   -webkit-border-bottom-right-radius: $radius;
   -moz-border-bottom-right-radius: $radius;
   -ms-border-bottom-right-radius: $radius;
   border-bottom-right-radius: $radius;
}

@mixin opacity($val) {
   opacity:$val;
   filter:alpha(opacity=$val*100);
}

@mixin background-size($v1, $v2) {
   -webkit-background-size: $v1 $v2;
   -moz-background-size: $v1 $v2;
   -o-background-size: $v1 $v2;
   background-size: $v1 $v2;
}

@mixin inline-block {
   display:inline-block;
   *display:inline;
   *zoom:1;
}
@mixin linear-gradient($v1, $v2) {
   background: -webkit-linear-gradient($v1, $v2);
   background: -moz-linear-gradient($v1, $v2);
   background: -o-linear-gradient($v1, $v2);
   background: linear-gradient($v1, $v2);
   -pie-background: linear-gradient($v1, $v2);
   filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{$v1}', endColorstr='#{$v2}');
}

@mixin box-shadow($v1, $v2, $v3, $color) {
   box-shadow:$v1 $v2 $v3 $color;
   -webkit-box-shadow: $v1 $v2 $v3 $color;
   -moz-box-shadow: $v1 $v2 $v3 $color;
   -o-box-shadow: $v1 $v2 $v3 $color;
   *zoom: 1;
   *filter: progid:DXImageTransform.Microsoft.DropShadow(OffX=$v1, OffY=$v2, Color=$color);
}
