@import 'include';
/* skelectal
------------------------------------------------------------------------- */

#header {max-width: 930px; height: 60px; margin: 15px auto; }

#highlight {background: #F4F4E3; }
#highlight div.wrap {width: 930px; margin: 20px auto; }

#content {width: 930px; min-height: 600px; margin: 30px auto 50px auto; background-color: white; }

#content.solid
	{border-top: solid 3px #E30000;
	-moz-box-shadow: 2px 2px 2px #AAAAAA;
	-webkit-box-shadow: 2px 2px 2px #AAAAAA;
	box-shadow: 2px 2px 2px #AAAAAA;
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=135, Color='#AAAAAA')";
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=135, Color='#AAAAAA');
}

#content.solid div.inner {padding: 10px 30px 75px 30px; }

#footerwrap { clear:both; width:100%; text-align:center; background-color: #F4F4E3; }
#footerwrap #footer
	{width: 930px; margin: 0px auto;
	 text-align: left; background-color: #F4F4E3;
	 padding: 15px; }	

#copyrightwrap {width:100%; text-align:center; background-color: #373737; }
#copyrightwrap #copyright {width:800px; text-align: left; margin: 0px auto;  padding: 40px 0px; font: 9pt/18px NanumGothic; color: #B9B9B9;}

.layer
	{
	width: 100%; height: 100%; position: fixed; top: 0px; left: 0px; z-index: 10;
	background: url(/images/common/overlay.png); 
   overflow:hidden;
}

.centering
	{position: absolute; top: 50%; left: 50%; }

/* layout details
------------------------------------------------------------------------- */

h1 {float: left; margin: 12px 0px 0px 0px; }

/* header */
#header img {vertical-align: middle; }

/* top menu */
#menu
	{width: 100%; height: 55px;
	 background: #F4F4E3 url(/images/common/nav_bg.png) repeat-x center bottom;
	 text-align: left; }
    /*
#menu menu {list-style: none; position: absolute; left: 50%; margin-left: -375px; width: 750px; }
#menu li {float: right; text-align: center; }
#menu a
	{font: 15px/45px NanumGothic; color: #ECECEC; 
	text-shadow: 0px -1px #555555, 1px 1px #555555; width: 125px; height: 45px; display: block; }
#menu a.on, #menu a:hover
	{text-decoration: none; border-bottom: solid 2px #E30000; background-color: black; }
   */

/* loginlayer */
#loginLayer
	{display: none; background-color: white; border: solid 2px #E30000; /*#E2E2DF*/
	width: 400px; height: 250px;text-align:left;line-height:0; 
	-moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px; }
#loginLayer input.text {width: 265px; height: 25px; font: 9pt NanumGothic; margin: 4px 0px; padding: 0px 3px; border: solid 1px #DDDDDD; }
.close {position: absolute; top: 5px; right: 5px; text-align: right; font: bold 20px/18px Tahoma,sans-serif; color: black; text-shadow: 0 1px 0 #ffffff; opacity: 0.2; filter: alpha(opacity=20); cursor: pointer; }
.close:hover { opacity: 0.4; filter: alpha(opacity=40); }
.btn_close {position: absolute; top: 5px; right: 5px; text-align: right; font: bold 20px/18px Tahoma,sans-serif; color: black; text-shadow: 0 1px 0 #ffffff; opacity: 0.2; filter: alpha(opacity=20); cursor: pointer; }
.btn_close:hover { opacity: 0.4; filter: alpha(opacity=40); }

/* coin donate layer */
#coinDonateLayer
	{display: none; background-color: #F0EAEC; border: solid 2px #A4A3A4; /*#E2E2DF*/
	width: 200px; height: 150px; }

/* highlight */
#highlight h2
	{font: 12pt NanumGothicBold; color: black; text-shadow: 0px 1px #A2A2A2;
	 margin: 0px 0px 5px 0px; }

#highlight.campaign h2
	{font: 16pt NanumGothic; color: black; text-shadow: 0px 1px #A2A2A2;
	 margin: 0px 0px 5px 0px; }

/* main highlight */
#loginBox { background: white url(/images/main/header_login.png) no-repeat top; -moz-box-shadow: 2px 2px 2px #AAAAAA; -webkit-box-shadow: 2px 2px 2px #AAAAAA; box-shadow: 2px 2px 2px #AAAAAA; -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=135, Color='#AAAAAA')"; filter: progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=135, Color='#AAAAAA'); }
#loginBox #loginCombo li {float: left; width: 33%; height: 60px; text-indent: -5000px; cursor: pointer; background-repeat: no-repeat; background-position: center top; }
#loginBox #loginCombo li.btn_login_facebook {background-image: url(/images/main/btn_facebook.png); }
#loginBox #loginCombo li.btn_login_twitter {background-image: url(/images/main/btn_twitter.png); }
#loginBox #loginCombo li.btn_login {background-image: url(/images/main/btn_wegen.png); }

#myInfoBox { background: white url(/images/main/header_myinfo.png) no-repeat top left; -moz-box-shadow: 2px 2px 2px #AAAAAA; -webkit-box-shadow: 2px 2px 2px #AAAAAA; box-shadow: 2px 2px 2px #AAAAAA; -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=135, Color='#AAAAAA')"; filter: progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=135, Color='#AAAAAA'); }
#myInfoBox img.portrait {float: left; width: 60px; height: 60px; margin-right: 10px; }
#myInfoBox h3 {font: 13px/30px NanumGothicBold; color: #222222; text-shadow: 0px 1px #BFBFBF; margin: 0px 0px 0px; }
#myInfoBox #myBadge li {float: left; text-align: center; width: 20%; background: url(/images/common/badges/blank.png) no-repeat center; }
#myInfoBox #myBadge li img {width: 90%; }
#myInfoBox .wegenLevel {font-size: 8pt; font-family: Arial; height: 45px; padding-top: 10px; }
#myInfoBox .wegenLevel .level {font-weight: bold; font-family: Arial; color: #E30000; }

#recentBox {position: absolute; bottom: 0px; width: 100%; background: white url(/images/main/header_recent.png) no-repeat top; -moz-box-shadow: 2px 2px 2px #AAAAAA; -webkit-box-shadow: 2px 2px 2px #AAAAAA; box-shadow: 2px 2px 2px #AAAAAA; -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=135, Color='#AAAAAA')"; filter: progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=135, Color='#AAAAAA'); }
#recentBox img.portrait {float: left; width: 40px; height: 40px; margin-right: 8px; }
#recentBox #recentFeeds li {clear: both; height: 50px; font-size: 11px; letter-spacing: -1px; text-align: justify; }
#recentBox #recentFeeds li span {font: 9pt NanumGothicBold; margin-bottom: 4px; }


/* content */
#content h2
	{font: 16pt/40px NanumGothicBold; letter-spacing: -2px; color: black;
	 text-shadow: 1px 1px 1px #BFBFBF; margin: 0px; border-bottom: solid 2px black; }

#content h3
	{font: 12pt/30px NanumGothicBold; color: black; text-shadow: 0px 1px #A2A2A2;
	 border-bottom: solid 2px #E30000; margin: 0px 0px 20px 0px; }

#content menu.submenu li
	{height: 30px; float: left; padding-right: 30px; margin-left: 8px; cursor: pointer;
	 font: 15px/30px NanumGothicBold; color: #222222; text-shadow: 0px 1px #BFBFBF; }

menu.leftmenu li
	{height: 30px; width: 100%; margin-left: 8px; cursor: pointer;
	 font: 13px/30px NanumGothicBold; color: #222222; text-shadow: 0px 1px #BFBFBF; }

#content ul.guide li
	{width: 100%; text-indent: 10px; cursor: pointer; border-bottom: solid 1px #F0F0F0;
	 font: 13px/40px NanumGothic; }
.guideAnswer {background-color: #EFEFEF; text-indent: 0px; display: none; }

/* mypage */

#content #mypage img.portrait {float: left; width: 80px; height: 80px; margin-right: 20px; }
#content #mypage .myBadge li {float: left; position: relative; width: 108px; height: 150px; text-align: center; }
#content #mypage .myBadge li img {width: 90px; }
#content #mypage .myBadge .procBadge {cursor: pointer; }
#content #mypage .wegenLevel {font-size: 10pt; font-family: Arial; height: 30px; padding-top: 10px; }
#content #mypage .wegenLevel .level {font-weight: bold; font-family: Arial; color: #E30000; }
#content #mypage .myBadge .counter {position: absolute; top: 60px; left: 70px; width: 35px; height: 35px; background: url(/images/common/badges/badge_counter.png) no-repeat; text-align: center; color: white; font-weight: bold; padding-top: 10px; }
#content #mypage .modify {background-color: black; color: white; font: 9pt NanumGothic; outline: none; border: none; cursor: pointer; width: 100px; height: 22px; }

/* campaign list */
#campaignList li {float: left; width: 32%; margin-right: 2%; }
#campaignList .campaignCell {width: 280px; height: 300px; margin: 0px auto 36px auto; position: relative; border: solid 2px #E2E2DF; background-color: #F4F4E3; } /*-moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px; */
#campaignList .campaignCell.highlighted {width: 600px;height:640px;}
#campaignList .campaignCell div.margin {padding: 10px; }
#campaignList .campaignCell img.thumbnail {width: 100%; height: 168px; }
#campaignList .campaignCell img.tag {position: absolute; top: 0px; left: 0px; }
#campaignList .campaignCell h3 {color: #E30000; text-shadow: none; font: 9pt/150% NanumGothic; margin: 0px 0px 4px; border: none; }
#campaignList .campaignCell .campaignTitle {font: 14px NanumGothicBold; color: #222222; text-shadow: 0px 1px #BFBFBF; /*text-overflow: ellipsis; white-space: nowrap; overflow: hidden;*/ }
#campaignList .campaignCell .campaignDesc {margin: 10px 0px; font: 10pt/180% NanumGothic; color: gray; text-align: justify; display: none; }
#campaignList .campaignCell .donateNow {position: absolute; top: 180px; right: 10px; width: 100px; text-align: right; font: 9pt NanumGothicBold; }
#campaignList .campaignCell .donateNow img {width: 15px; vertical-align: middle; }
#campaignList .campaignCell .donateNow a:hover {text-decoration: underline; }

#campaignList li.highlighted {width: 66%; margin-right: 2%; }
#campaignList div.highlighted {width: 600px;height:640px;}
#campaignList div.highlighted div.margin {padding: 15px; }
#campaignList div.highlighted img.thumbnail {height: 369px; }
#campaignList div.highlighted img.tag {top: 0px; left: 0px; width: 125px; height: 125px; }
#campaignList div.highlighted h3 {margin-top: 20px; font: 11pt/150% NanumGothicBold; }
#campaignList div.highlighted .campaignTitle {font: 18px NanumGothicBold; }
#campaignList div.highlighted .campaignDesc {display: block; }
#campaignList div.highlighted .donateNow {position: absolute; top: 390px; right: 10px; width: 100px; text-align: right; font-size: 11pt; }
#campaignList div.highlighted .donateNow img {width: 20px; }

#campaignList li.postscript {width: 100%; margin-right: 0%; }
#campaignList div.postscript {width: 100%; height: 228px; }
#campaignList div.postscript img.thumbnail {width: 348px;height:inherit; }
/*#campaignList div.postscript img.thumbnail {width: 100%; height: 100%; }*/
#campaignList div.postscript h3 {margin-top: 0px; font: 12pt NanumGothicBold; }
#campaignList div.postscript .campaignTitle {font: bold 14pt NanumGothic; }
#campaignList div.postscript .campaignDesc {height: 120px; display: block; }
#campaignList div.postscript span {position:absolute;right:15px;bottom:13px;letter-spacing: -1px; font-weight: bold; }
#campaignList li.closed {margin-right: 0px; }

/* campaign detail */
#campaignTab, #campaignComment
	{width: 930px; margin: 0px auto; }
#campaignTab li
	{width: 90px; height: 30px; float: left; margin-left: 8px; cursor: pointer;
	 font: 15px/30px NanumGothicBold; color: #222222; text-shadow: 0px 1px #BFBFBF; }
#campaignComment li
	{width: 100px; height: 30px; float: left; margin-left: 8px; cursor: pointer;
	 font: 15px/30px NanumGothicBold; color: #222222; text-shadow: 0px 1px #BFBFBF; }
#content menu.submenu li.on, menu.leftmenu li.on, #campaignTab li.on, #campaignComment li.on
	{color: #E53333; text-shadow: 0px 1px #F8C0C0; }

.connect_top {padding:2px;margin-bottom:25px;}
.connect_input {display:block;width:100%;margin-bottom:10px;min-height:140px;}
.connect_posts {display:block;width:100%;margin-bottom:10px;}
.connect_post {display:block;border-bottom:1px solid black;margin-bottom:30px;padding-bottom:21px;}
.connect_post .connect_post_info {display:block;margin-bottom:5px;position:relative;}
.connect_post .connect_post_info .profile_img {width:40px;display:block;float:left;margin-right:8px;}
.connect_post .connect_post_info .profile_info {display:table-cell;}
.connect_post .connect_post_info .btn_group {position:absolute;top:11px;right:9px;font-size:10pt;color:#969696;}
.connect_post .connect_post_info .btn_group .like_box {
   display:inline-block;
   padding:2px;
   font-size:11px;
   color:red;
   background-color: #ffffff;
	border: 1px solid #ccc;
	border: 1px solid rgba(0, 0, 0, 0.2);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.connect_post .connect_cmt {border-bottom:1px solid #ebebeb;border-top:1px solid #ebebeb;padding:9px 0 9px 50px;background:url(/images/common/icon_re.png) no-repeat 20px 30px;}

@import 'auction';

/* campaign info */
#campaignInfo {float: right; width: 250px; margin-top: 30px; z-index: 2; }
#campaignInfo .campaignDetail {margin-bottom: 10px; padding-bottom: 10px; border-bottom: solid 1px gray; }
#campaignInfo .campaignDetail2 {margin-bottom: 20px; background-color: #F4F4E3; border: solid 2px #AFAFAF; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; }
#campaignInfo h3 {font: 14px NanumGothicBold; margin: 0px 0px 15px; border: none; }
#campaignInfo li {}

#campaignInfo #shares li {float: left; width: 33%; height: 40px; text-indent: -5000px; cursor: pointer; background-repeat: no-repeat; background-position: center top; }
#campaignInfo #shares li.btn_facebook {background-image: url(/images/campaign/btn_facebook.png); }
#campaignInfo #shares li.btn_twitter {background-image: url(/images/campaign/btn_twitter.png); }
#campaignInfo #shares li.btn_comment {background-image: url(/images/campaign/btn_comment.png); }

#campaignInfo #donators li, #campaignInfo #sharers li {float: left; width: 40px; height: 40px; margin: 0px 5px 5px 0px; cursor: pointer; }
#campaignInfo #donators #donatorsDesc,#campaignInfo #sharers #sharersDesc {clear: both; float: left; width: 40%; height: 20px; line-height: 20px; margin-top: 10px; cursor: default; }
#campaignInfo #donators #donatorsDesc span, #campaignInfo #sharers #sharersDesc span {font: bold 14px Arial; color: #E30000; }
#campaignInfo #donators .more, #campaignInfo #sharers .more {float: right; width: 40%; height: 20px; line-height: 20px; margin-top: 10px; text-align: right; font-weight: bold; cursor: default; }

/* gauge(common) */
.gauge {position: relative; margin-top: 12px; margin-bottom: 4px; width: 100%; height: 18px; background-color: white; border: solid 1px #C6C6C5; text-align: right; color: #E30000; }
.progress {float: left; background-color: #E30000; height: 100%; }
.progressToday {float: right; background-color: #E02020; height: 100%; }
.percent {position: absolute; right: 2px; font: bold 12px/18px Arial; color: #E30000;z-index:1; }
.funded {font: bold 9pt Arial, NanumGothic; }
.targeted {float: right; font: bold 9pt Arial, NanumGothic; }
.cam_school {height:50px;position:absolute;right:-19px;top:-18px;}
.cam_school.end {height:50px;position:absolute;right:-13px;top:-23px;}

/* gauge(campaign-highlighted) */
.highlighted .gauge {height: 27px; margin-bottom: 8px; }
.highlighted .percent {font-size: 14pt; line-height: 27px; }
.highlighted .funded, .highlighted .targeted {font-size: 12pt; }
.highlighted .cam_school {height:60px;top:-25px;}
.highlighted .cam_school.end {height:60px;}
/* donate */
#content .donation h3 {font: 12pt/30px NanumGothicBold; color: black; text-shadow: 0px 1px #A2A2A2; border-bottom: solid 2px black; margin: 0px;padding-bottom:5px; }
.donation_ul li {line-height: 40px; padding-left: 15px; border-bottom: solid 1px #E9E9E9; }
.donation_ul.left li {float:left;width:88px;}
.donation_ul:after, .donation_ul:before {
   display:block;
   clear:both;
   content:"";
}
#content #donationLeft li {line-height: 40px; padding-left: 15px; border-bottom: solid 1px #E9E9E9; }
#content #donationReceipt li {line-height: 40px; height: 40px; border-bottom: solid 1px #E9E9E9; float: left; width: 33%; padding: 0px; text-align: center; }
#content .donation p {font-size: 11px; line-height: 18px; margin-top: 10px; text-align: justify; }
#content .donation th {padding-left: 15px; text-align: left; }
#content .donation th, td {border-bottom: solid 1px #E9E9E9; height: 25px; }
#content .donation input.text {height: 18px; font: 13px NanumGothic; margin: 3px 0px; padding: 0px 3px; border: solid 1px #DDDDDD; }
#content .donation input.submit {margin: 30px 0px; outline: none; border: none; width: 150px; height: 40px; text-align: center; background-color: black; color: white; font: 12pt NanumGothic; cursor: pointer; }

.pgiocont {
   text-align:center;
   #PGIOscreen {
      margin:0 auto;
      @include inline-block;
   }
}
/* zipcode search */
.zipcode-search-result td {height: auto; padding: 4px 0px; }
.zipcode-search {text-align: center; font: 9pt NanumGothic; }

#pluginLayer {width: 400px; height: 300px; text-align: center; color: #FAFAFA; display: none; }
#pluginLayer p {font: 11pt NanumGothicBold; color: white; margin-bottom: 30px;z-index:1; }

/* hall of fame */
#hall-of-fame li {float: left; width: 50px; height: 50px; margin: 0px 10px 10px; }

/* footer */
#footer menu li {float: left; height: 27px; font: 14px/27px NanumGothicBold; padding: 0px 15px; }

/* member portrait */
img.portrait {width: 100%; cursor: pointer; outline: solid 1px #AFAFAF; }

/* about */
#about p {text-align: justify; font: 13px/180% NanumGothic; text-shadow: 0px 1px #E1E1E1; margin-bottom: 10px; letter-spacing: -1px; }
#about h3 {font: 18px NanumGothic; color: #444444; text-shadow: 0px 1px #CACACA; border: none; margin: 0px; padding: 10px 0px 30px 0px; }
#about h4 {font: 12pt NanumGothicBold; color: #C72B3D; text-shadow: 0px 1px #F1DADE; letter-spacing: -1px; margin: 0px; padding: 25px 0px; }

/* grant badge popup */
.grantBadge {position: relative; width: 220px; height: 220px; margin: 0px auto; background: url(/images/common/badges/grant_bg.png); }
.grantBadge img {position: absolute; top: 50%; left: 50%; margin-left: -50px; margin-top: -60px; }
.qtip p {margin-bottom: 10px; text-align: center; }
.qtip button {margin: 0px 10px; outline: none; border: none; display: inline !important; width: 80px; height: 25px; text-align: center; background-color: black; color: white; font: 10pt NanumGothic; cursor: pointer; }

/* request */
#content .request th {padding-left: 15px; text-align: left; }
#content .request th, td {border-bottom: solid 1px #E9E9E9; height: 40px; }

/* give x */
#content.givex {font: 13px NanumGothic; color: #FAFAFA; letter-spacing: -1px; }
#content.givex h3 {font: 16px NanumGothic; color: #C8C8C8; border: none; margin: 0px; padding: 10px 0px; }
#content.givex p {font: 14px NanumGothic; color: white; letter-spacing: -1px; margin: 20px 0px 10px; }
#content.givex .vows .portrait {width: 40px; height: 40px; margin-left: 30px; margin-right: 15px; float: left; }

#comment .portrait {width: 64px; height: 64px; }
#comment .commentCell {border-top: solid 1px gray; padding: 15px 0px; }
#comment .replyCell {padding: 0px 0px 15px 50px; background: url(/images/common/icon_re.png) no-repeat 20px 30px; }
.btn_delete {float: right; margin-left: 5px; cursor: pointer; }
.btn_reply {float: right; cursor: pointer; }
#comment #replybox {margin-top: 20px; display: none; }

div.yearend table {
   width:100%;
}
div.yearend table tr {
   border-top:1px solid #c0c0c0;
}
div.yearend table tr td.top_row {
   background:linear-gradient(#fff,#dfdfdf);
   filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff', endColorstr='#dfdfdf'); 
   font:10pt NanumGothicBold;
   color:#747474;
}
div.yearend .grayborder {
   padding:38px 53px;
   margin-top:30px;
   border:3px solid lightgray;
   -moz-border-radius: 10px;
   -webkit-border-radius: 10px;
}
div.yearend .receipt_info li {
   float:left;
   width:21%;
   border-bottom:1px solid lightgray;
   height:32px;
}

/* common */
.btn_login {cursor: pointer; }
input.submit {margin: 30px 0px; outline: none; border: none; width: 150px; height: 40px; text-align: center; background-color: black; color: white; font: 12pt NanumGothic; cursor: pointer; }

.postscript img {max-width: 100% !important; }

/* misc.
------------------------------------------------------------------------- */

.hTop {}
.hMiddle {font: 13px/30px NanumGothicBold; color: #222222; text-shadow: 0px 1px #BFBFBF; }

.clickable {cursor: pointer; }

.button_common {margin: 0px; outline: none; border: none; width: 100px; height: 30px; text-align: center; background-color: black; color: white; font: 10pt NanumGothic; cursor: pointer; }

.blind
	{visibility:hidden; overflow:hidden;
	 position:absolute; top:0; left:0; width:0; height:0; font-size:0; line-height:0 }

.blur {outline: none; }

.dropped {background-position: bottom !important; }

.label
	{font: 8pt NanumGothic; color: #888888; text-align: center; }


.ui-text-shadow, .ui-text-shadow-original {
  position: relative;
}
.ui-text-shadow-original {
  z-index: 1;
  text-shadow: none;
}
.ui-text-shadow-copy {
  position: absolute;
  z-index: 0;
  
  line-height: 110.74235%; /* fixes #9 */

  /* default positioning */
  left: 0;
  top: 0;
  zoom: 1; /* fixes #8 in IE7 and below */
  
  /* turn off shadow */
  text-shadow: none;
  
  /* turn off selection */
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

/* slides */

#slides {display: none; width: 700px; margin: 0px auto; }
#slides .slidesjs-navigation {margin-top:5px; }
.slidesjs-pagination {margin: 7px 0 0; float: right; list-style: none; }
.slidesjs-pagination li {float: left; margin: 0 1px; }
.slidesjs-pagination li a {display: block; width: 13px; height: 0; padding-top: 13px; background-image: url(/images/slides/pagination.png); background-position: 0 0; float: left; overflow: hidden; }
.slidesjs-pagination li a.active, .slidesjs-pagination li a:hover.active {background-position: 0 -13px; }
.slidesjs-pagination li a:hover {background-position: 0 0; }
.navbar {overflow: hidden; }

.kara_ticket {
   width:100%;
   text-align:right;
   font-size:14px;
   td {
      padding:0 13px 3px 0;

   }
}

@import 'newmain';
@import 'opencampaign';

.sns_share {
   position:relative;
   height:30px;
   @include inline-block;
   .fb-wrapper {
      margin-right:8px;
      float:left;
   }
   .twit {
      float:left;
   }
   .fb_share {
      float:left;
      margin-left:-61px;
      margin-top:-2px;
      z-index:10;
   }
}
.detail_right_top {
   height:370px;
   overflow:hidden;
   .campaign_summary {
      border:1px solid #ccc;
      .cont {
         padding:21px 10px 15px;
         .title {
            border-bottom:1px solid #ccc;
            padding-bottom:11px;
            padding-left:8px;
            font:14px NanumGothicBold;
            letter-spacing:-1px;
         }
         .info {
            padding-top:13px;
            padding-left:8px;
            li {
               font:12px/16px NanumGothicBold;
               margin-bottom:14px;
            }
         }
      }
   }
   .recent_donor {
      .title {
         overflow:hidden;
         padding:13px 0 8px;
         font:13px NanumGothicBold;
         margin:0;
         text-align:center;
      }
      .title:before,.title:after {
         content:" ";
         background-color:black;
         @include inline-block;
         height:1px;
         position:relative;
         vertical-align:middle;
         top:0;
         width:76px;
      }
      .title:before {
         right:10px;
      }
      .title:after {
         left:10px;
      }
      .list {
         li {
            list-style:none;
            text-align:center;
            font-size:13px;
            height:19px;
         }
      }
   }
}

