@import 'include';
/* new */
body {
   min-width:930px;
}
#header {
   .status {
      float:right;
      margin-top:47px;
      margin-right:8px;
   }
}
#menu {
   position:relative;
   min-width:950px;
   menu {
      list-style:none;
      position:absolute;
      left:50%;
      width:auto;
      margin-left:-33px;
      margin-top:13px;
      li {
         float:left;
         text-align:center;
         padding:0 14px;
         border-right:1px solid white;
         font:15px NanumGothic;
         color:#ececec;
         text-shadow:0px -1px #555, 1px 1px #555;
      }
      li.last {
         border:0;
      }
      .icons {
         div {
            width:25px;
            height:25px;
            float:left;
            cursor:pointer;
         }
         .fb_link {
            background:url(/images/facebook_off.png) 0 0 no-repeat;
            margin:-2px 5px 0 -11px;
            margin-right:5px;

         }
         .fb_link:hover {
            background:url(/images/facebook_on.png) 0 0 no-repeat;
         }
         .blog_link {
            background:url(/images/blog_off.png) 0 0 no-repeat;
            margin-top:-2px;
         }
         .blog_link:hover {
            background:url(/images/blog_on.png) 0 0 no-repeat;
         }
      }
      .icons:after,.icons:before {
         display:block;
         clear:both;
         content:"";
      }
   }
   .recent {
      position:absolute;
      left:50%;
      top:11px;
      margin-left:470px;
      width:212px;
      cursor:pointer;
      z-index:10;
      .recent_arrow {
         float:left;
         width:17px;
         height:13px;
         margin-top:3px;
         margin-right:8px;
         background:url(/images/arrow_down.png) 0 0 no-repeat;

      }
      .char {
         font-size:16px;
         color:white;
         margin-left:62px;
      }
      .list {
         margin-top:15px;
         background-color:#ede3bf;
         @include opacity(0.9);
         display:none;
         height:430px;
         padding:10px 0;
         cursor:default;
         li {
            display:block;
            clear:both;
            height:38px;
            font-size:11px;
            letter-spacing:-1px;
            text-align:justify;
            color:#555;
            padding:12px 10px;
            img.portrait {
               float:left;width:40px;height:40px;margin-right:10px;
            }
            span {
               font:13px NanumGothicBold;
               margin-bottom:4px;
            }

         }
      }
   }
   .recent:hover {
      .recent_arrow {
         background:url(/images/arrow_up.png) 0 0 no-repeat;
      }
   }
}

.main_top {
   background-color:white;
   margin-top:-10px;
   position:relative;
   height:460px;
   min-width:950px;
   overflow:hidden;
   .wrap:after,.wrap:before {
      display:block;
      clear:both;
      content:"";
   }
   .wrap {
      height:450px;
      margin:0 auto;
      text-align:center;
      position:relative;
      .js_slides {
         position:relative;
         overflow:hidden;
         ul {
            width:20000em;
            position:relative;
            list-style:none;
            margin:0;
            padding:0;
            li {
               position:relative;
               height:450px;
               float:left;
               cursor:pointer;
               overflow:hidden;
               img {
                  position:absolute;
                  top:0;
                  left:50%;
                  margin-left:-700px;
                  height:450px;
               }
            }
         }
      }
      .prev, .next {
         display:block;
         position:absolute;
         top:50%;
         left:51%;
         z-index:20;
         width:62px;
         height:62px;
         text-decoration:none;
         background:url(/images/pager.png) 0 0 no-repeat;
         cursor:pointer;
         @include opacity(0.5);
      }
      .prev:hover, .next:hover {
         @include opacity(0.9);
      }
      .prev {
         margin:-28px 0 0 -476px;
      }
      .next {
         left:auto;
         background-position:-100px 0;
         right:51%;
         margin:-28px -476px 0 0;
      }
      .js-slides-pagination {
         position:absolute;
         right:50%;
         bottom:43px;
         margin-right:-365px;
         z-index:10;
         li {
            float:left;
            margin:0;
            margin-right:4px;
            width:15px;
            height:15px;
            cursor:pointer;display:block;
            background-image: url(/images/main_round_gray.png); 
            background-repeat:no-repeat;
            // 원래께ㅓ
            a {
               display:block;
               float:left;
               margin:0;
               margin-right:4px;
               width:15px;
               height:15px;
               cursor:pointer;display:block;
               background-image: url(/images/main_round_gray.png); 
               background-repeat:no-repeat;
            }
            a.active, a:hover.active {
               background-image:url(/images/main_round_red.png);
            }
            a:hover {background-image:url(/images/main_round_red.png);}
            
         }
         li.active, li:hover.active {
            background-image:url(/images/main_round_red.png);
         }
         li:hover {background-image:url(/images/main_round_red.png);}
      }
   }
}

.main_content {
   padding-bottom:50px;
   .wrap {
      margin:0 auto;
      width:950px;
      overflow:hidden;
      h3 {
         overflow:hidden;
         padding:25px 0;
         font-size:17px;
         margin:0;
      }
      h3:before,h3:after {
         content:" ";
         background-color:#aaa;
         display:inline-block;
         height:2px;
         position:relative;
         vertical-align:middle;
         top:0;
      }
      h3:before {
         width:74px;
         right:15px;
      }
      h3:after {
         left:15px;
      }
      h3.campaign:after {
         width:683px;
      }
      h3.event:after {
         width:726px;
      }
      h3.fundraiser:after {
         width:749px;
      }
      h3.sponsor:after {
         width:778px;
      }
      h3.partner:after {
         width:780px;
      }
      .campaign_list {
         .campaign {
            position:relative;
            margin:15px 0;
            text-align:center;
            .thumbnail {
               width:927px;
               height:246px;
            }
            .d_day {
               position:absolute;
               width:48px;
               top:-7px;
               right:20px;
               background:url(/images/d_day_bg.png) 0 0 no-repeat;
               width:97px;
               height:96px;
               text-align:center;
               font:26px/89px NanumGothicBold;
               color:white;
            }
         }
      }

      .event_list {
         ul:before,ul:after {
            display:block;
            clear:both;
            content:"";
         }
         ul {
            li {
               position:relative;
               float:left;
               margin-left:11px;
               margin-right:75px;
               cursor:pointer;
               .event {
                  width:250px;
                  text-align:center;
                  .img_cont {
                     width:250px;
                     height:164px;
                     img {
                        width:250px;
                        height:164px;
                     }
                  }
                  .name {
                     padding:20px 0;
                     text-align:center;
                     font:27px NanumGothicBold;
                  }
                  .title_1 {
                     padding-top:20px;
                     text-align:center;
                     height:50px;
                     font:14px NanumGothicBold;
                     border-top:2px solid #999;
                     border-bottom:2px solid #999;
                  }
                  .title_2 {
                     text-align:center;
                     padding-top:20px;
                     font:14px NanumGothicBold;
                     height:35px;
                  }

               }
            }
            li.last {
               margin-right:0;
            }

         }
      }
      .event_more {
         text-align:center;
         padding:10px 0;
      }

      .main_scrolling {
         position:relative;
         .prev, .next {
            position:absolute;
            font:48px NanumGothic;
            top:32px;
            color:#c7c7c7;
            cursor:pointer;
         }
         .prev {
            left:6px;
         }
         .next {
            right:6px;
         }
         .scroll_content {
            position:relative;
            overflow:hidden;
            width:850px;
            height:155px;
            margin:0 auto;
            .list {
               width:20000em;
               position:relative;
               li {
                  float:left;
                  position:relative;
                  padding:0 25px;
                  text-align:center;
                  width:120px;
                  height:100%;
               }
               .fundraiser {
                  .img_cont {
                     img {
                        width:120px;
                        height:120px;
                     }
                  }
                  .name {
                     text-align:center;
                     font:17px/36px NanumGothicBold;
                     color:#6d6d6d;
                  }
               }
               .sponsor, .partner {
                  .img_cont {
                     img {
                        width:120px;
                     }
                  }
               }
            }
            .list:before, .list:after {
               display:block;
               clear:both;
               content:"";
            }
         }
      }
   }
   .main_scrolling.sponsor {
      .list {
         margin-top:30px;
      }
   }
}

#footerwrap {
   width:100%;
   text-align:center;
   background-color:#f3f4e4;
   padding-bottom:30px;
   #footer:before, #footer:after {
      display:block;
      clear:both;
      content:"";
   }
   #footer {
      width:930px;
      margin:0 auto;
      text-align:left;
      padding:15px;
      background-color:#f3f4e4;
      menu:after, menu:before {
         display:block;
         clear:both;
         content:"";
      }
      menu {
         float:left;
         margin-top:29px;
         li {
            float:left;
            font:18px NanumGothicBold;
            padding:0px 26px;
         }
      }
      .footer_right {
         float:right;
         margin-right:10px;
         .top:after,.top:before {
            display:block;
            clear:both;
            content:"";
         }
         .top {
            padding-top:9px;
            padding-bottom:16px;
            .char {
               float:left;
               font:15px/27px NanumGothicBold;
               letter-spacing:-1px;
            }
            .snsicon {
               float:right;
            }
         }
      }

   }
}
