@import 'include';
.open_campaign_layout {
   position:relative;
   border:2px solid black;
   background-color:white;
   width:685px;
   display:none;
   .close_btn {
      position:absolute;
      top:12px;
      right:15px;
      cursor:pointer;
   }
   .wrap {
      margin:0 auto;
      width:580px;
      text-align:center;
      padding:40px 0 60px;
      .title {
         font:19px/26px NanumGothicBold;
      }
      .guide {
         font:14px NanumGothicBold;
         margin-top:11px;
      }
      .info_cont {
         margin:30px auto 0;
         width:480px;
         background-color:$beige-color;
         padding:15px;
         table {
            width:100%;
            td,th {
               border:0;
               text-align:left;
            }
            th {
               width:89px;
            }
            input[name='open_hp1'],input[name='open_hp2'],input[name='open_hp3'] {
               width:35px;
            }
            input[name='open_email'] {
               width:100%;
            }
            textarea[name='open_msg'] {
               width:100%;
               height:50px;
            }
         }
      }

   }
   .share_fb_btn {
      position:absolute;
      bottom:14px;
      right:16px;
      cursor:pointer;
   }
}
.open_campaign_finish {
   position:relative;
   width:600px;
   border:1px solid black;
   background-color:white;
   display:none;
   .close_btn {
      position:absolute;
      top:12px;
      right:15px;
      cursor:pointer;
   }
   .wrap {
      margin:0 auto;
      text-align:center;
      padding:40px 0 45px;
      .top_msg {
         font:19px/32px NanumGothicBold;
         text-align:center;
      }
      .middle_msg {
         font:24px NanumGothicExBold;
         text-align:center;
         margin-top:12px;
         .red {
            color:red;
         }
      }
      .bottom_msg {
         text-align:center;
         font:14px NanumGothic;
         margin:24px 0 35px;
      }
      .donate_btn {
         text-align:center;
         img {
            cursor:pointer;
         }
      }

   }
}


.ticket_list {
   position:fixed;
   left:50%;
   top:460px;
   margin-left:-600px;
   width:94px;
   z-index:10;
   @include border-radius(4px);
   @include box-shadow(3px, 3px, 7px, #747474);
   .top {
      width:94px;
      height:47px;
      img {
         width:94px;
         height:47px;
      }
   }
   .unit {
      background-color:white;
      .cont {
         padding:10px 5px;
         font: 11px/16px NanumGothicBold;
         border:1px solid #ccc;
      }
   }
   .unit.last {
      @include border-bottom-left-radius(4px);
      @include border-bottom-right-radius(4px);
      .cont {
         @include border-bottom-left-radius(4px);
         @include border-bottom-right-radius(4px);
      }
   }
}

