/* color */
$beige-color: #F4F4E3;
$lgray-color: #ccc;
$l2gray-color: #aaa;
$red-color: rgb(228,0,0);
$lpink-color: rgb(250,204,204);


/* font */
$bold-st: NanumGothicBold;
$ebold-st: NanumGothicExBold;
