@import 'global';

#content {
   background-color:#f5f5f5;
   padding:50px 0;
   .content {
      min-height:500px;
      .profile_summary {
         margin:0 auto;
         width:950px;
         .profile_img {
            @include inline-block;
            width:82px;
            margin-top:-7px;
            margin-right:19px;
            img {
               width:100%;
               @include border-radius(10px);
            }
         }
         .profile_txt {
            @include inline-block;
            .top {
               .name {
                  @include inline-block;
                  margin-right:8px;
                  padding-bottom:5px;
                  border-bottom:1px solid #FFC445;
                  min-width:190px;
                  font:18px $bold;
               }
               .modify_btn {
                  @include orange-btn(77px);
                  padding:7px 0;
                  font-size:13px;
                  color:white;
                  background-color:black;
               }
            }
            .join_day {
               margin-top:12px;
            }
         }
      }

      .donate_list {
         width:950px;
         margin:50px auto 0;
         table {
            width:100%;
            border-collapse:collapse;
            margin-top:6px;
            text-align:center;
            font:14px $bold;
            tr {
               border-bottom:1px solid #ccc;
               .not_pay {
                  margin-left:5px;
                  color:red;
                  cursor:pointer;
                  @include inline-block;
                  font-family:$ebold;
               }
               .print {
                  color:red;
                  text-decoration:underline;
               }
               .print.not {
                  color:black;
                  text-decoration:none;
               }
            }
            tr.last {
               border:0;
            }
         }
         .donate_summary {
            text-align:right;
            margin-top:50px;
            .cont {
               @include inline-block;
               text-align:left;
               border:1px solid #ccc;
               background-color:white;
               padding:25px 0;
               padding-left:23px;
               width:174px;
               hl {
                  font-family:$ebold;
                  text-decoration:none;
               }
               .donate_amount,.campaign_num {
                  font-family:$bold;
               }
               .donate_amount {
                  margin-top:11px;
               }
            }
         }
      }
   }
}
.account_ctt {
   @include inline-block;
   table {
      width:230px;
      th,td {
         height:22px;
      }
      td {
         padding-left:3px;
      }
   }
   .past {
      text-align:center;
      font-family:$ebold;
   }
}
