@import 'global';

#content {
   background-color:#f5f5f5;
   padding:50px 0 80px;
   .content {
      min-height:500px;
      .profile_summary {
         margin:0 auto;
         width:950px;
         .profile_img {
            @include inline-block;
            width:82px;
            margin-top:-7px;
            margin-right:19px;
            img {
               width:100%;
               @include border-radius(10px);
            }
         }
         .profile_txt {
            @include inline-block;
            .top {
               .name {
                  @include inline-block;
                  margin-right:8px;
                  padding-bottom:5px;
                  border-bottom:1px solid #FFC445;
                  min-width:190px;
                  font:18px $bold;
               }
            }
            .join_day {
               margin-top:12px;
            }
         }
      }

      
      .mb_info {
         width:880px;
         min-height:567px;
         margin:0 auto;
         margin-top:20px;
         background-image:url(/images/common/my_bg.png);
         background-repeat:no-repeat;
         background-size:100% 100%;
         padding:13px 20px 30px 49px;
         .ctt {
            table {
               width:100%;
               font-size:14px;
               text-align:left;
               margin-top:15px;
               .left_col {
                  width:120px;
               }
               th, td {
                  text-align:left;
                  height:0;
                  padding:10px 0;
               }
            }
            table.postcode {
               th, td {
                  height:23px;
                  padding:0;
               }
            }
            .input1 {
               font-size:14px;
               padding:6px 9px;
            }
            .file_size {
               margin-top:7px;
               color:gray;
               font-size:12px;
            }
            #addr {
               line-height:35px;
               .input1 {margin:4px 0;}
            }
            input[name='od_hp1'], input[name='od_hp2'],
            input[name='od_hp3'], input[name='mb_zip1'],
            input[name='mb_zip2'] {
               width:54px;
            }
            .cont {
               text-align:right;
               margin-top:12px;
               .btn_cont {
                  margin-right:13px;
               }
            }
            .modify_btn {
               @include orange_btn(200px);
            }
            .modify_btn:hover {
               @include orange_btn_hover;
            }
            .modify_btn:active {
               @include orange_btn_active;
            }

         }
      }
   }
}

