@import 'global';
#content {
   .content {
      margin-top:70px;
      margin-bottom:140px;
      width:950px;
      .about {
         margin-top:35px;
         h4 {
            margin-top:35px;
            margin-bottom:5px;
            font:14px $bold;
         }
         p {
            line-height:18px;
         }
      }
      
   }

}
